<ul class="nav nav-tabs">
    <li><a href="/admin/accounts">Accounts</a></li>
    <li><a href="/admin/groups">Groups</a></li>
    <li><a href="/admin/members">Members</a></li>
    <li><a href="/admin/exhibitors">Exhibitors</a></li>
    <li><a href="/admin/workshops">Workshops</a></li>
    <li><a href="/admin/volunteers">Volunteers</a></li>
    <li><a href="/admin/flags">Flags</a></li>
    <li><a href="/admin/images">Images</a></li>
    <li><a href="/admin/editor">Editor</a></li>
</ul>
