{{> admin_bar active="statistics"}}

<pre>
</pre>

<div>
    <h1>Account Demographics</h1>

    <h3>Home Province</h3>
    (Pie)

</div>
<div>
    <h1>Group Demographics</h1>

    <h3>Affiliation Type</h3>
    (Pie)

    <h3>Group Size</h3>
    (Histogram)

    <h3>Youth In Care Numbers</h3>
    (Pie of seats used / Seats Avail)

</div>

<div>
    <h1>Member Demographics</h1>

    <h3>Delegate Type</h3>
    {{{stats_delegate_types}}}
    (Pie)

    <h3>Ancestral Background</h3>
    <p><emph>(This is an optional field.)</emph></p>
    (Pie?)

    <h3>Gender</h3>
    (Pie)

    <h3>Age</h3>
    (Maybe???)

    <h3>Over Time</h3>
    (Linegraph)
</div>
