
<h3>General Exhibitor Information</h3>

<ul>
    <li><strong>Exhibitor Registration Fee:</strong> $400 per table, 2 days, March 22nd and 23rd, 8:30 am – 5:00 pm.</li>
    <li>Preferred method of payment is by cheque payable to BCAAFC and mailed to: 551 Chatham Street, Victoria, BC  V8T 1E1. For more info hit "Account" in the top navigtion bar and hit the "Pay Fees" button.</li>
    <li>Each booth will be provided with one 6’ skirted table and two chairs.</li>
    <li>All exhibitors are responsible for their own meals, refreshments and shipping their own materials.</li>
    <li>Potential Exhibitor will be contacted to confirm their acceptance. You will also receive a confirmation email that you submitted an application. Be sure you receive that in your inbox or spam. If you did not please call Della (250-388-5522) to confirm we received your application.</li>
</ul>

{{#if account.Exhibitor.approved}}
    <div class="alert alert-success">
        Your exhibitor table has been approved by our staff! Congratulations!
        <br>
        At this time you are no longer able to modify your exhibitor details.
        If you require any changes please contact us. A staff member can
        change them for you.
    </div>

    {{#if admin}}
        {{> forms/exhibitor exhibitor=account.Exhibitor flags=flags}}
    {{/if}}
{{else if account.Exhibitor.verified}}
    <div class="alert alert-warning">
        Your exhibitor table has been verified by our staff! This means that
        your information is confirmed and we've placed you into our selection
        process.
        <br>
        At this time you are no longer able to modify your exhibitor details.
        If you require any changes please contact us. A staff member can
        change them for you.
    </div>

    {{#if admin}}
        {{> forms/exhibitor exhibitor=account.Exhibitor flags=flags}}
    {{/if}}
{{else unless flags.exhibitorRegistration}}
    <div class="alert alert-danger">
        Unfortunately exhibitor registration is closed. Perhaps next year?
    </div>
{{else}}
    {{> forms/exhibitor exhibitor=account.Exhibitor flags=flags}}
{{/if}}
