<div class="container marketing">

    <div class="row featurette">
        <div class="col-sm-12">
            <h2 class="featurette-heading">Registration Site Available!</h2>
            <p class="lead">If you're seeing this, it means you can register! Yay!</p>
            <p>Just some sample news.</p>
        </div>
    </div>

    <hr class="featurette-divider">

</div>
