<ul class="nav nav-tabs">
    <li {{#eq active "accounts"}}class="active"{{/eq}}><a href="/admin/accounts">Accounts</a></li>
    <li {{#eq active "groups"}}class="active"{{/eq}}><a href="/admin/groups">Groups</a></li>
    <li {{#eq active "members"}}class="active"{{/eq}}><a href="/admin/members">Members</a></li>
    <li {{#eq active "exhibitors"}}class="active"{{/eq}}><a href="/admin/exhibitors">Exhibitors</a></li>
    <li {{#eq active "workshops"}}class="active"{{/eq}}><a href="/admin/workshops">Workshops</a></li>
    <li {{#eq active "volunteers"}}class="active"{{/eq}}><a href="/admin/volunteers">Volunteers</a></li>
    <li {{#eq active "emails"}}class="active"{{/eq}}><a href="/admin/emails">Emails</a></li>
    <li {{#eq active "flags"}}class="active"{{/eq}}><a href="/admin/flags">Flags</a></li>
    <li {{#eq active "images"}}class="active"{{/eq}}><a href="/admin/images">Images</a></li>
    <li {{#eq active "editor"}}class="active"{{/eq}}><a href="/admin/editor">Editor</a></li>
</ul>
