<ul class="nav nav-tabs">
    <li><a href="/admin/accounts">Accounts</a></li>
    <li><a href="/admin/groups">Groups</a></li>
    <li><a href="/admin/members">Members</a></li>
    <li><a href="/admin/exhibitors?approved=true">
        <i class="fa fa-check"></i> Exhibitors
    </a></li>
    <li><a href="/admin/exhibitors?approved=false">
        <i class="fa fa-times"></i> Exhibitors
    </a></li>
    <li><a href="/admin/workshops?approved=true">
        <i class="fa fa-check"></i> Workshops
    </a></li>
    <li><a href="/admin/workshops?approved=false">
        <i class="fa fa-times"></i> Workshops
    </a></li>
    <li><a href="/admin/sessions">Sessions</a></li>
    <li><a href="/admin/volunteers">Volunteers</a></li>
    <li><a href="/admin/payments">Payments</a></li>
</ul>
