<footer class="hidden-print">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Organizers</h3>
                <div class="row">
                    <div class="col-xs-6">
                        <a target="_blank" href="http://www.bcaafc.com/">
                            <img src="/img/bcaafc.png">
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a target="_blank" href="http://www.pgnfc.com/">
                            <img src="/img/pgnfc.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Contact Us</h3>
                <address>
                    <strong>BC Association of Aboriginal Friendship Centers</strong>
                    <br>
                    551 Chatham St.
                    <br>
                    Victoria,
                    BC, V8T 1E1
                    <br>
                    Canada
                    <br>
                    Phone: (250) 388-5522
                    <br>
                    Toll-Free: 1 800 990-2432
                    <br>
                    Fax: (250) 388-5502
                    <br>
                    Email:
                    <a href="mailto:dpreston@bcaafc.com">dpreston@bcaafc.com</a>
                </address>
            </div>
            <div class="col-sm-4">
                <h3>Other Links</h3>
                <ul class="list-unstyled">
                    <li><a href="/sponsors">Sponsors</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <li><a href="/conduct">Code of Conduct</a></li>
                    <li><a href="https://github.com/BCAAFC/Gathering-Our-Voices">Source Code</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
