<header class="hidden-print">
    <div class="jumbotron" style="margin: 0 auto; max-height: 350px;">
        <div class="wrap" style="text-align: right;">
            <img src="/img/gov.png" style="max-height: 300px;">
        </div>
    </div>
    <div style="min-height: 50px;">
        {{> navbar}}
    </div>
</header>
