<table id="account_table" class="table table-hover"></table>
<script>
    $(function () {
        var table = $("#account_table").dataTable({
            stateSave: true,
            stateDuration: 60*60*24*5, // 5 days.
            scrollX: true,
            // Datas
            data: {{data}},
            columns: {{keys}},
            columnDefs: [

            ],
        });
        var colvis = new $.fn.dataTable.ColVis(table);
        $(colvis.button()).insertAfter('#options');
    });
</script>
