<h3>Thank you for submitting your online registration!</h3>

<p>
    The Gathering Our Voices Team will review your registration and contact you via email regarding the following:
</p>

<ul>
    <li>Member Information: You can add group members on the Manage Your Group page. When adding a new member, all that is required is a name and member type which you're free to make a placeholder. We ask that you try to populate your group with members (even placeholders!) as soon as you can for a number of reasons. First, so we can have more accurate estimations for catering and bookings; second, you won't have to get all of the information from your members right away. Members which are incomplete will be marked appropriately with a red label, you can just click on edit & workshops at any time to edit their information. Please complete by March 11 - (onsite changes will be limited)</li>
    <li>Payment: You can view your current payment status from the "Account" Page, just hit the green "Pay Fee" button. Payments are due March 21, 2016</li>
    <li>Workshops: Workshops will be available early February. Youth Delegates can join workshops after completing a members information.</li>
    <li>Questions: Take a look at our FAQ's.</li>
</ul>

<p><strong>Delegate registration fees:</strong></p>
<p>
    For the groups and delegates registered by February 5th, we will honor the $125 early registration fee until March 21st. If payment is not receive by March 21, 2016, all delegates will be charged the regular registration fee of $175 and payment will be due 10 business days later: April 1, 2016. For the groups and delegates that register after February 6th, you will be required to pay the regular registration fee of $175 also due March 21, 2016. On-site payment will be accepted by VISA, MasterCard, Cheque or Money Order. We cannot accept cash onsite.
</p>

<p>Please review the following before coming to the conference with your group!</p>

<p><strong>Personal Conduct:</strong></p>
<p>
    Since your personal conduct, both in and out of the conference, reflects upon your community, please take a moment to review the code of conduct and distribute this to your group and your chaperones. Please ensure that as guests, your group members respect our hosts, volunteers, speakers, and peers to create an enjoyable and memorable event.
</p>

<p><strong>Code of Conduct:</strong></p>
<ul>
    <li>Weapons brought into conference venues and/or criminal activity of any kind will not be tolerated.</li>
    <li>Please refrain from wearing any non- prescription cosmetic lenses that alter or cover the eyes.</li>
    <li>There will be zero tolerance for drugs & alcohol use by delegates, chaperones, and guests during the event.</li>
    <li>We will not tolerate any bullying, violence or acts of harassment.</li>
    <li>Offenders of the Code of Conduct will have all privileges suspended and may be removed from the conference with no refund.</li>
</ul>

<p><strong>Youth Dance Party:</strong></p>

<p>
    On Thursday, March 23rd there will be a dance for all youth and young adults. Please take a moment to review the code of conduct specific to this event.
</p>

<ul>
    <li>Door Open at 7:00 pm and will close at 8:30 pm. Re-entry will not be permitted.</li>
    <li>Chaperones are required to attend with their youth under 18 years of age. Youth without chaperones WILL NOT be admitted. Chaperones must also leave with their youth at the end of the night.</li>
    <li>All youth and chaperones will be searched prior to their entry to the dance and will be required to check all bags, purses, sweaters and jackets.</li>
    <li>We do not allow the consumption of energy drinks.</li>
    <li>We do not allow non-prescription cosmetic lenses that alter or cover the eyes.</li>
</ul>

{{!-- Signature --}}
<p>Best,</p>
<p>Della Preston</p>
<p>Youth Conference Coordinator<p>
<small>
    dpreston@bcaafc.com
    <br>
    250-388-5522 or 1-800-990-2432
</small>


<br>
<small>This email was sent by a program.</small>
