<h3>Thank you for starting your online group registration!</h3>

<p>
    The Gathering Our Voices Team will review your registration and contact you via email regarding the following:
</p>

<ul>
    <li>Member Information: You can add group members on the Manage Your Group page. 
    When adding a new member you must enter a name or placeholder. You must populate your group with members, even placeholders 
    as soon as possible. 
    Members which are incomplete means they are missing information, will be marked appropriately with a red label, 
    you can click on the edit & 
    workshops BOTTON at any time to edit their information. Please complete by February 28, 2017 - (onsite changes will be limited)</li>
    <li>Payment: You can view your current payment status from the "Account" Page, just click the green "Pay Fee" button. 
    Registration Fees are due February 28, 2017</li>
    <li>Workshops: Workshops will be available early February. Youth Delegates can register for workshops when all member information is complete.</li>
    <li>Questions: Take a look at our FAQ's.</li>
</ul>

<p><strong>Delegate registration fees:</strong></p>
<p>
    For the groups and delegates registered by Novemeber 30, 2016, we will honour the $150 early registration fee until February 28, 2017. 
    If payment is not receive by February 28, 2017, all delegates will be charged the regular registration fee of $200 and payment will 
    be due 10 business days later: March 14, 2017. 
    
    For the groups and delegates that register after November 30, 2016 you will be required to pay the regular registration fee of 
    $200 also due February 28, 2017.
</p>

<p>Please review the following information before coming to the conference with your group!</p>

<p><strong>Personal Conduct:</strong></p>
<p>
    Since your personal conduct both in and out of the conference reflects upon your community, please take a moment to review the 
    code of conduct and distribute this to your group and your chaperones. Please ensure that as guests your group members respect 
    our hosts, volunteers, speakers and peers to create an enjoyable and memorable event.
</p>

<p><strong>Code of Conduct:</strong></p>
<ul>
    <li>Weapons brought into conference venues and/or criminal activity of any kind will not be tolerated.</li>
    <li>There will be zero tolerance for drugs & alcohol use by delegates, chaperones and guests during the event.</li>
    <li>We will not tolerate any bullying, violence or acts of harassment.</li>
    <li>Offenders of the Code of Conduct will have all privileges suspended and may be removed from the conference with no refund.</li>
</ul>

<p><strong>Youth Dance Party:</strong></p>

<p>
    On Thursday, March 23rd there will be a dance for all registered delegates. Please take a moment to review Dance Rules specific to this event
</p>

<ul>
    <li>Doors Open at 7:00 pm and will close prompty at 8:30 pm. Re-entry will not be permitted.</li>
    <li>Chaperones are required to attend with their youth under 18 years of age. Youth without chaperones WILL NOT be admitted. 
    Chaperones must remain with their youth until the end of the dance or until the group decides to leave.</li>
    <li>All youth and chaperones will be searched prior to their entry to the dance and will be required to check all bags, 
    purses, sweaters and jackets.</li>
    <li>We do not allow the consumption of energy drinks.</li>
    <li>We do not allow non-prescription cosmetic lenses that alter or cover the eyes.</li>
</ul>
    
</ul>
    <li>For registration questions please contact Hannah at 250-388-5522 ext.222 1-800-990-2432.</li>
    
</ul>

{{!-- Signature --}}
<p>Best,</p>
<p>Tanya Clarmont</p>
<p>Lead Conference Coordinator<p>
    govcoordinator@bcaafc.com
    <br>
    250-388-5522 ext.216 or 1-800-990-2432 ext.210



<br>
<small>This email was sent by a program.</small>
