<p>Hello,</p>

<p>
    You're recieving this email because you've applied to be a exhibitor at Gathering Our Voices 2016.
</p>

<p>
    Until we have a chance to review and verify your details you are free to edit your application as you see fit, simply log on and edit! Once we have <em>Verified</em> your application you will need to contact us to make any changes.
</p>

<p>
    Soon after January 29th we will be sending approval notices. Keep an eye on your inbox!
</p>

{{!-- Signature --}}
<p>Best,</p>
<p>Della Preston</p>
<small>
    dpreston@bcaafc.com
    <br>
    250-388-5522 or 1-800-990-2432
</small>


<br>
<small>This email was sent by a program.</small>
