<h3>Thank you for starting your facilitator application.</h3>

<p>
    We are going to have a multi-theme conference this year: Health, Language, Culture, the Environment, Employment, Education and Life-Long Learning, Sports and Recreation.
</p>

<p>
    You can revisit your application and make edits before you finally submit your application. It is mandatory to have a conversation with Della Preston before your application is considered before the selection committee.
</p>

<p><strong>Workshops will be offered Wednesday and Thursday of the conference:</strong></p>

<table>
    <thead>
        <tr>
            <th>Tuesday</th>
            <th>Wednesday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Session 1 - 9:00 am - 12:00 pm</td>
            <td>Session 7 - 9:00 am - 12:00 pm</td>
        </tr>
        <tr>
            <td>Session 2 - 9:00 am - 10:30 am</td>
            <td>Session 8 - 9:00 am - 10:30 am</td>
        </tr>
        <tr>
            <td>Session 3 - 11:00 am - 12:30 pm</td>
            <td>Session 9 - 11:00 am - 12:30 pm</td>
        </tr>
        <tr>
            <td>Session 4 - 1:30 pm - 4:30 pm</td>
            <td>Session 10 - 1:30 pm - 4:30 pm</td>
        </tr>
        <tr>
            <td>Session 5 - 1:30 pm - 3:00 pm</td>
            <td>Session 11 - 1:30 pm - 3:00 pm</td>
        </tr>
        <tr>
            <td>Session 6 - 3:30 pm - 5:00 pm</td>
            <td>Session 12 - 3:30 pm - 5:00 pm</td>
        </tr>
    </tbody>
</table>

<p><strong>Application and selection Steps:</strong></p>

<ul>
    <li>Start your application, you have started if you are receiving this email</li>
    <li>You will be required to fulfill a Criminal Record Check using <a target='blank' href='https://justice.gov.bc.ca/eCRC/'>this link</a> and access code <code>2LMZZ4EHQ6</code> for <strong>all representatives</strong>. Please email us <a href="mailto:govcoordinator@bcaafc.com">govcoordinator@bcaafc.com</a> your <strong>Full, Legal Names</strong> when done.<li>
    <li>Revisit your application as many times as a you want to make edits.</li>
    <li>Please call Della Preston to have to confirm your complete application at 250-388-5522 or 1-800-990-2432 <strong>by November 4, 2016</strong></li>
    <li>Deadline Novemeber 30, 2016</li>
    <li>The Youth steering committee will review all application.</li>
    <li>Successful applicants will be informed by Novemebr 30, 2016.</li>
</ul>

<p><strong>Thank you for applying to be apart of an amzing event for Indigenous Youth.</strong></p>

{{!-- Signature --}}
<p>Best,</p>
<p>Della Preston</p>
<p>Youth Conference Coordinator<p>
    dpreston@bcaafc.com
    <br>
    250-388-5522 or 1-800-990-2432



<br>
<small>This email was sent by a program.</small>
