<p>Hello,</p>

<p>
    You're receiving this email because you've applied to be a exhibitor at Gathering Our Voices 2017 March 21-24, 2017. You need to submit a Criminal Record Check or proof of application of all exhibitors ASAP before you application will move on the committee. Complete the online Criminal Record Check [HERE](https://justice.gov.bc.ca/eCRC/) with Access Code: 2LMZZ4EHQ6. The access code will waive the fee.
</p>

<p>
    Until we have a chance to review and verify your details you are free to edit your application as you see fit, simply log on and edit! Once we have <em>Verified</em> your application you will need to contact us to make any changes.
</p>

<p>
    We will send approval confirmation by Friday, December 9, 2016. Keep an eye on your inbox and ensure your phone number is accruate. 
</p>

{{!-- Signature --}}
<p>Best,</p>
<p>Della Preston</p>
<p>Lead Conference Coordinator<p>
    dpreston@bcaafc.com
    <br>
    250-388-5522 or 1-800-990-2432 ext. 210



<br>
<small>This email was sent by a program.</small>
