<p>Hello,</p>

<p>
    You're recieving this email because you've registered a group at Gathering Our Voices 2016!
</p>

<p>
    Soon after <code>TODO: Date</code> we will be sending a notice regarding workshop release. Keep an eye on your inbox!
</p>

{{!-- Signature --}}
<p>In Friendship,</p>
<p>Della Preston</p>
<small>
    dpreston@bcaafc.com
    <br>
    250-388-5522 or 1-800-990-2432
</small>


<br>
<small>This email was sent by a program.</small>
