<p>Hello!</p>

<p>Your facilitator application for the workshop <strong>"{{name}}"</strong> at <strong>Gathering Our Voices 2017</strong> in <strong>Kelowna, BC</strong> has been approved!</p>

<p>We are very excited to have you host a workshop at the conference and want to ensure it is successful and impactful.</p>

<p>
    <strong>What does this mean?:</strong>

    <ul>
        <li>All Facilitators (18+ years) are required to submit a Criminal Record Check before the application deadline. If there is a change it will 
        need to be made in writing and submitted for approval along with a Criminal Record Check by November 4, 2016.
        <a href="https://justice.gov.bc.ca/eCRC/">here</a> using the code <code>2LMZZ4EHQ6</code>.</li>
        <li>If you have you have a current CRC within the last year we will accept a copy if it has the children and 
        vulnerable sector check. Please call Della Preston if you have any questions at 250-388-5522 ext.210.<li>
        <li>We will be contacting you within the next week to confirm details for a contract for service agreement.</li>
    </ul>
</p>


{{!-- Signature --}}
<p>Best,</p>
<p>Della Preston</p>
<p>Lead Conference Coordinator<p>
    dpreston@bcaafc.com
    <br>
    250-388-5522 ext.210 or 1-800-990-2432


<br>
<small>This email was sent by a program.</small>
