<p>Hello!</p>

<p>
    We're so excited to have you volunteering with us! This email is just to let you know that we've received your 
    criminal record check and have approved your application!
</p>

<p>
    Your main contact will be Hannah. You can reach her at 1-800-990-2432 or at <a href="mailto:frontdesk@bcaafc.com">frontdesk@bcaafc.com</a>.
</p>


<p>
    <strong>Next Steps:</strong>

    You will be contacted to confirm your availability and we will build a schedule. You will then be sent a volunteer schedule 
    and volunteer handbook. If your availably changes please let Hannah know as soon as possible.
</p>

{{!-- Signature --}}
<p>Best,</p>
<p>Della Preston</p>
<p>Youth Conference Coordinator<p>
    dpreston@bcaafc.com
    <br>
    250-388-5522 or 1-800-990-2432


<br>
<small>This email was sent by a program.</small>
