<p>Hello!</p>

<p>Your facilitator application for <strong>Gathering Our Voices 2016</strong> in <strong>Victoria, BC</strong> has been approved!</p>

<p>We're very excited to have you host a workshop at the conference and want to ensure it is successful and impactful.</p>

<p>
    <strong>What does this mean?:</strong>

    <ul>
        <li>All Facilitators (18+ years) are required to submit a criminal record check application (if you haven't already) <a href="https://justice.gov.bc.ca/eCRC/">here</a> using the code <code>2LMZZ4EHQ6</code>.</li>
        <li>If you have you have a current CRC within the last year we will accept a copy if it has the children and vulnerable sector check. Please call Della Preston if you have any questions.<li>
        <li>We will be contacting you within the next week to confirm details for a contract for service agreement.</li>
    </ul>
</p>


{{!-- Signature --}}
<p>Best,</p>
<p>Della Preston</p>
<p>Youth Conference Coordinator<p>
<small>
    dpreston@bcaafc.com
    <br>
    250-388-5522 or 1-800-990-2432
</small>

<br>
<small>This email was sent by a program.</small>
