<p>Hello!</p>

<p>Hello!

<p>We are very excited to have you host <strong>"{{name}}"</strong> at the conference and want to ensure it is successful and impactful. An email regarding your contract details has been sent!
Please call Kerri Low if you have any questions at 250-388-5522 ext.242. 

</p>


{{!-- Signature --}}
<p>Best,</p>
<p>Della Preston</p>
<p>Lead Conference Coordinator<p>
    dpreston@bcaafc.com
    <br>
    250-388-5522 ext.210 or 1-800-990-2432


<br>
<small>This email was sent by a program.</small>
