<p>Hello!</p>

<p>Your exhibitor application for <strong>Gathering Our Voices 2017</strong> in <strong>Kelonwa, BC</strong> has been approved!</p>

<p>
    <strong>What does this mean?:</strong>

    <ul>
        <li>You'll have an opportunity to interact with 1000+ youth from all over Canada.</li>
        <li>You'll receive a 6' skirted table with 2 chairs at the conference.</li>
        <li>The table will be available for Set-up at 7:00 am on March 22, 2017. We require a commitment to have an 
        operation booth March 22nd and 23rd from 8:30AM - 5:00PM.</li>
        <li>You may contact the conference team at 1-800-990-2432 to make any special arrangements.</li>
        <li>You will need to submit any exhibitor changes for approval and complete a Criminal Record Check 
        application <a href="https://justice.gov.bc.ca/eCRC/">here</a> using the code <code>2LMZZ4EHQ6</code>.</li>
        <li>If you have you have a current CRC within the last year we will accept a copy if it includes a children and vulnerable sector check. 
        Please call Della Preston if you have any questions at 250-388-5522 ext.210.<li>
        <li> We will be contacting you December 12 - 16, 2016 to confirm details for your Exhibitor Agreement.<li>
    </ul>
</p>

<p>
    <strong>Please note:</strong>

    <ul>
        <li>This does not permit you entry into the Talent Showcase, Youth Dance, Plenary sessions, Opening, or Closing Ceremonies.</li>
        <li>If you have marked that you would like to place an item into the delegate bags you will be required to ship and provide 1200 of the 
        items prior to the conference.</li>
    </ul>
</p>

{{!-- Signature --}}
<p>Best,</p>
<p>Della Preston</p>
<p>Lead Conference Coordinator<p>
    dpreston@bcaafc.com
    <br>
    250-388-5522 ext.210 or 1-800-990-2432


<br>
<small>This email was sent by a program.</small>
