<p>Hello {{name}},</p>

<p>
    Welcome to Gathering Our Voices! You have been registered for the conference by {{primaryContactEmail}}. We are honoured to host 
    Gathering Our Voices 201 on the traditional territory of the <strong>Okanagan Peoples</strong>.
</p>

<p>
    Workshop Registration is now open! Because your group contact has entered your email, you are able to express interest in 
    any workshops which catch you eye to your primary contact! <strong>You do not need to log in,</strong> just follow the steps below.
</p>

<p>
    <strong>How to express interest:</strong>
    <ul>
        <li>You visit <a href="https://gatheringourvoices.bcaafc.com/workshops">the workshop listing</a> and find a workshop you're interested in.</li>
        <li>In the session you're interested in attending there will be a field where you put the secret code from above. Then hit the 'Suggest' button.</li>
        <li>Let your primary contact know that you've made your suggestions.</li>
        <li>They can log in and browse to your member page to see your suggested workshops. There they can accept or reject suggestions.</li>
    </ul>

    Please do not that suggesting a workshop <strong>does not</strong> sign you up for it. You will not be signed up for a workshop until your primary contact accepts it.
</p>

<p>
    <strong>Reviewing Your Workshops:</strong> You can visit <a href="TODO">this link</a> which has that secret code again and lets you view your workshops. It'll even work over WiFi on-site!
</p>

{{!-- Signature --}}
<p>Best,</p>
<p>Della Preston</p>
<p>Youth Conference Coordinator<p>
<small>
    dpreston@bcaafc.com
    <br>
    250-388-5522 or 1-800-990-2432
</small>


<br>
<small>This email was sent by a program.</small>
