<p>Hello!</p>

<p>We recieved a password reset request on <a href="http://gatheringourvoices.bcaafc.com/">http://gatheringourvoices.bcaafc.com/</a> for the account associated with this email address.

<p>If this was not you, please don't worry! Your account is safe.</p>

<p>If this <strong>was</strong> you please click <a href="http://gatheringourvoices.bcaafc.com/api/account/recovery?email={{email}}&key={{key}}">here</a>.

{{!-- Signature --}}
<p>In Friendship,</p>
<p>Della Preston</p>
<small>
    dpreston@bcaafc.com
    <br>
    250-388-5522 or 1-800-990-2432
</small>


<br>
<small>This email was sent by a program.</small>
