<p>Hello {{name}},</p>

<p>
    We are honoured to host Gathering Our Voices 2016 on the traditional territory of the <strong>Songhees</strong> and <strong>Esquimalt</strong> First Nations.
</p>

<p>
    Your account is registered under {{email}}.
    <br>
    You can log in at any time at <a href="https://gatheringourvoices.bcaafc.com">https://gatheringourvoices.bcaafc.com</a>.
    <br>
    From the registration site you may proceed through registration at your own pace. If you close your browser or leave the site, your progress will remain attached to your account.
</p>

<p>
    Please note this site is best used with Firefox, Chrome, Safari, Opera, or Internet Explorer 9+. We do not support Internet Explorer 8 or below, if you are still using one of these web browsers, please consider upgrading as they represent grave security concerns for your organization. If you cannot upgrade, contact the registration team and we will assist you in registration.
</p>

<p>
    If you have any questions please call me at 250-388-5522 or 1-800-990-2432.
</p>


{{!-- Signature --}}
<p>In Friendship,</p>
<p>Youth Conference Coordinator</p>
<p>Della Preston</p>
<small>
    dpreston@bcaafc.com
    <br>
    250-388-5522 or 1-800-990-2432
</small>

<br>
<small>This email was sent by a program.</small>
