<div id="options">
    <a id="verified_button" class="btn btn-xs btn-success" data-state="true">
        <i class="fa fa-check"></i>
        Verified
    </a>
    <a id="approved_button" class="btn btn-xs btn-success" data-state="true">
        <i class="fa fa-check"></i>
        Approved
    </a>
</div>
<table id="workshop_table" class="table table-hover"></table>
<script>
    $(function () {
        var columns = {{{JSON columns 0}}};
        var table = $("#workshop_table").dataTable({
            stateSave: true,
            stateDuration: 60*60*24*5, // 5 days.
            scrollX: true,
            // Datas
            data: {{{JSON data 0}}},
            columns: columns,
            columnDefs: [
                {
                    targets: 0,
                    render: function (data, type, row) {
                        return "<a class=\"btn btn-xs btn-info\" href=\"/admin/manage/"+row.AccountId+"/workshop\"><i class=\"fa fa-fw fa-user\"></i></span>";
                    },
                },
                {
                    targets: [ 1, ], // Sessions
                    render: function (data, type, row) {
                        return data.map(function (item) {
                            var start = moment(item.start).format("MM/DD/YYYY HH:mm A");
                            var end = moment(item.end).format("HH:mm A");
                            return "<span class=\"label label-default\">"+start+"-"+end+"</span>"
                        }).join("<br>");
                    }
                },
                {
                    targets: [6, 9, 10, 11, 20, 25 ], // CategoryReason, Description, Summary, InteractionLevel, Biography, Notes
                    render: function (data, type, row) {
                        if (data) {
                            return "<i class=\"btn btn-xs btn-info fa fa-plus\"></i>";
                        } else {
                            return "<i class=\"btn btn-xs btn-default fa fa-plus\"></i>";
                        }
                    }
                },
                {
                    targets: [ -1, ], // Delete
                    render: function (data, type, row) {
                        return "<a href='/api/workshop/delete/" + row.id + "' class='btn btn-xs btn-danger' onclick='return confirm(\"Are you sure?\")'><i class='fa fa-fw fa-trash'></i></a>";
                    }
                },
                {
                    targets: -2,
                    render: function (data, type, row) {
                        return "<a class=\"btn btn-primary\" href=\"/admin/manage/"+row.AccountId+"\">"+data+"</a>";
                    },
                },
                {
                    targets: [ -3, -4 ], // Created and Updated at
                    render: function (data, type, row) {
                        return new Date(data).toLocaleString();
                    },
                },
                {
                    targets: -5, // Tags
                    render: function (data, type, row) {
                        return  "<input class=\"tags\" data-id=\""+row.id+"\" data-role=\"tagsinput\" value=\""+data+"\">";
                    },
                },
                {
                    targets: -6, // Approved
                    render: function (data, type, row) {
                        if (data === true) {
                            return "<a class=\"approval btn btn-xs btn-success\" data-state=\""+data+"\" data-id=\""+row.id+"\"><i class=\"fa fa-check\"></i></a>";
                        } else {
                            return "<a class=\"approval btn btn-xs btn-danger\" data-state=\""+data+"\" data-id=\""+row.id+"\"><i class=\"fa fa-times\"></i></a>";
                        }
                    }
                },
                {
                    targets: -7, // Verified
                    render: function (data, type, row) {
                        if (data === true) {
                            return "<a class=\"verification btn btn-xs btn-success\" data-state=\""+data+"\" data-id=\""+row.id+"\"><i class=\"fa fa-check\"></i></a>";
                        } else {
                            return "<a class=\"verification btn btn-xs btn-danger\" data-state=\""+data+"\" data-id=\""+row.id+"\"><i class=\"fa fa-times\"></i></a>";
                        }
                    }
                },
                {
                    targets: [ 3, 7, 8, ], // Arrays
                    render: function (data, type, row) {
                        return data.map(function (item) {
                            return "<span class=\"label label-default\">"+item+"</span>"
                        }).join(" ");
                    }
                },
            ],
        });

        // Expandos
        function expando(key) {
            $("td."+key).on("click", function () {
                var tr = $(this).closest("tr");
                var row = table.api().row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    $(this).children("i").removeClass("fa-minus");
                    $(this).children("i").addClass("fa-plus");
                    row.child.hide();
                    tr.removeClass("shown");
                } else {
                    // Open this row
                    $(this).children("i").removeClass("fa-plus");
                    $(this).children("i").addClass("fa-minus");
                    var offset = $(".dataTables_scrollBody").scrollLeft();
                    row.child("<p class='expando' style='margin-left: "+offset+"px;'>"+row.data()[key]+"</p>").show();
                    tr.addClass("shown");
                }
            });
        }
        expando("categoryReason");
        expando("description");
        expando("summary");
        expando("interactionLevel");
        expando("biography");
        expando("notes");



        // Visible Toggles
        var colvis = new $.fn.dataTable.ColVis(table);
        $("#options").append(colvis.button());

        // Scan for tagsinputs.
        var inputs = $("input[data-role=\"tagsinput\"]").tagsinput()
        $("input[data-role=\"tagsinput\"]").on("itemAdded", function (e) {
            var item = e.item,
                id = $(this).data("id"),
                self = this;
            console.log("ADD " + item + " to " + id);
            $.ajax({
                url: "/api/workshop/"+id+"/tags",
                method: "PUT",
                data: { add: item, },
            }).done(function (data) {
                return;
            }).fail(function (data) {
                alert("Failed, please reload the page, then try again.");
            });
        })
        $("input[data-role=\"tagsinput\"]").on("itemRemoved", function (e) {
            var item = e.item,
                id = $(this).data("id"),
                self = this;
            console.log("REMOVE " + item + " from " + id);
            $.ajax({
                url: "/api/workshop/"+id+"/tags",
                method: "DELETE",
                data: { remove: item, },
            }).done(function (data) {
                return;
            }).fail(function (data) {
                alert("Failed, please reload the page, then try again.");
            });
        });

        // Approved and Verified.
        $("a.approval").on("click", function (e) {
            var self = this,
                id = $(this).data("id"),
                state = $(this).data("state");
            $.ajax({
                url: "/api/workshop/"+id+"/approval",
                method: "PUT",
                data: { approved: !state, },
            }).done(function (data) {
                $(self).data("state", data.state);
                if (data.state === true) {
                    $(self)
                        .removeClass("btn-danger")
                        .addClass("btn-success")
                        .children("i")
                            .removeClass("fa-times")
                            .addClass("fa-check");
                } else {
                    $(self)
                        .removeClass("btn-success")
                        .addClass("btn-danger")
                        .children("i")
                            .removeClass("fa-check")
                            .addClass("fa-times");
                }
                return;
            }).fail(function (data) {
                alert("Failed, please reload the page, then try again.");
            });
        });
        $("a.verification").on("click", function (e) {
            var self = this,
                id = $(this).data("id"),
                state = $(this).data("state");
            $.ajax({
                url: "/api/workshop/"+id+"/verification",
                method: "PUT",
                data: { verified: !state, },
            }).done(function (data) {
                $(self).data("state", data.state);
                if (data.state === true) {
                    $(self)
                        .removeClass("btn-danger")
                        .addClass("btn-success")
                        .children("i")
                            .removeClass("fa-times")
                            .addClass("fa-check");
                } else {
                    $(self)
                        .removeClass("btn-success")
                        .addClass("btn-danger")
                        .children("i")
                            .removeClass("fa-check")
                            .addClass("fa-times");
                }
                return;
            }).fail(function (data) {
                alert("Failed, please reload the page, then try again.");
            });
        });

        // Toggle Buttons for Approved/Verified
        $("#approved_button, #verified_button").on("click", function (e) {
            var oldState = $(this).data("state"),
                newState;
            if (oldState === true) {
                console.log("Old state was true");
                newState = false;
                $(this)
                    .removeClass("btn-success")
                    .addClass("btn-danger")
                    .children("i")
                        .removeClass("fa-check")
                        .addClass("fa-times");
            } else {
                console.log("Old state was false");
                newState = true;
                $(this)
                    .removeClass("btn-danger")
                    .addClass("btn-success")
                    .children("i")
                        .removeClass("fa-times")
                        .addClass("fa-check");
            }
            $(this).data("state", newState);
            $("#workshop_table").dataTable().fnDraw();
        });

        // Filter for tables.
        $.fn.dataTable.ext.search.push(function(settings, _, dataIndex) {
            var node = $(settings.aoData[dataIndex].nTr).find("a.approval");
            if ($("#approved_button").data("state") === true) {
                // Toggled on.
                if (node.data("state") === true) { return true; }
                else { return false; }
            } else {
                // Toggled off.
                if (node.data("state") === true) { return false; }
                else { return true; }
            }
        });
        $.fn.dataTable.ext.search.push(function(settings, _, dataIndex) {
            var node = $(settings.aoData[dataIndex].nTr).find("a.verification");
            if ($("#verified_button").data("state") === true) {
                // Toggled on.
                if (node.data("state") === true) { return true; }
                else { return false; }
            } else {
                // Toggled off.
                if (node.data("state") === true) { return false; }
                else { return true; }
            }
        });
        $("#workshop_table").dataTable().fnDraw();
    });
</script>
