<div id="options">
    <a id="verified_button" class="btn btn-xs btn-success" data-state="true">
        <i class="fa fa-check"></i>
        Verified
    </a>
    <a id="approved_button" class="btn btn-xs btn-success" data-state="true">
        <i class="fa fa-check"></i>
        Approved
    </a>
</div>
<table id="exhibitor_table" class="table table-hover"></table>
<script>
    $(function () {
        var columns = {{{JSON columns 0}}},
            data = {{{JSON data 0}}};
        var table = $("#exhibitor_table").dataTable({
            stateSave: true,
            stateDuration: 60*60*24*5, // 5 days.
            scrollX: true,
            // Datas
            data: data,
            columns: columns,
            columnDefs: [
                {
                    targets: 0,
                    render: function (data, type, row) {
                        return "<a class=\"btn btn-xs btn-info\" href=\"/admin/manage/"+row.AccountId+"/exhibitor\"><i class=\"fa fa-fw fa-user\"></i></a>";
                    },
                },
                {
                    targets: -1,
                    render: function (data, type, row) {
                        return "<a class=\"btn btn-primary\">"+data+"</a>";
                    },
                },
                {
                    targets: [ -2, -3 ], // Created and Updated at
                    render: function (data, type, row) {
                        return new Date(data).toLocaleString();
                    },
                },
                {
                    targets: -4, // Tags
                    render: function (data, type, row) {
                        return  "<input class=\"tags\" data-id=\""+row.id+"\" data-role=\"tagsinput\" value=\""+data+"\">";
                    },
                },
                {
                    targets: -5, // Approved
                    render: function (data, type, row) {
                        if (data === true) {
                            return "<a class=\"approval btn btn-xs btn-success\" data-state=\""+data+"\" data-id=\""+row.id+"\"><i class=\"fa fa-check\"></i></a>";
                        } else {
                            return "<a class=\"approval btn btn-xs btn-danger\" data-state=\""+data+"\" data-id=\""+row.id+"\"><i class=\"fa fa-times\"></i></a>";
                        }
                    }
                },
                {
                    targets: -6, // Verified
                    render: function (data, type, row) {
                        if (data === true) {
                            return "<a class=\"verification btn btn-xs btn-success\" data-state=\""+data+"\" data-id=\""+row.id+"\"><i class=\"fa fa-check\"></i></a>";
                        } else {
                            return "<a class=\"verification btn btn-xs btn-danger\" data-state=\""+data+"\" data-id=\""+row.id+"\"><i class=\"fa fa-times\"></i></a>";
                        }
                    }
                },
                {
                    targets: [ 1, 2, 3, ], // Arrays
                    render: function (data, type, row) {
                        return data.map(function (item) {
                            return "<span class=\"label label-default\">"+item+"</span>"
                        }).join(" ");
                    }
                }
            ],
        });
        // Visible Toggles
        var colvis = new $.fn.dataTable.ColVis(table);
        $("#options").append(colvis.button());
        // Scan for tagsinputs.
        var inputs = $("input[data-role=\"tagsinput\"]").tagsinput()
        $("input[data-role=\"tagsinput\"]").on("itemAdded", function (e) {
            var item = e.item,
                id = $(this).data("id"),
                self = this;
            console.log("ADD " + item + " to " + id);
            $.ajax({
                url: "/api/exhibitor/"+id+"/tags",
                method: "PUT",
                data: { add: item, },
            }).done(function (data) {
                return;
            }).fail(function (data) {
                alert("Failed, please reload the page, then try again.");
            });
        })
        $("input[data-role=\"tagsinput\"]").on("itemRemoved", function (e) {
            var item = e.item,
                id = $(this).data("id"),
                self = this;
            console.log("REMOVE " + item + " from " + id);
            $.ajax({
                url: "/api/exhibitor/"+id+"/tags",
                method: "DELETE",
                data: { remove: item, },
            }).done(function (data) {
                return;
            }).fail(function (data) {
                alert("Failed, please reload the page, then try again.");
            });
        });
        // Approved and Verified.
        $("a.approval").on("click", function (e) {
            var self = this,
                id = $(this).data("id"),
                state = $(this).data("state");
            $.ajax({
                url: "/api/exhibitor/"+id+"/approval",
                method: "PUT",
                data: { approved: !state, },
            }).done(function (data) {
                $(self).data("state", data.state);
                if (data.state === true) {
                    $(self)
                        .removeClass("btn-danger")
                        .addClass("btn-success")
                        .children("i")
                            .removeClass("fa-times")
                            .addClass("fa-check");
                } else {
                    $(self)
                        .removeClass("btn-success")
                        .addClass("btn-danger")
                        .children("i")
                            .removeClass("fa-check")
                            .addClass("fa-times");
                }
                return;
            }).fail(function (data) {
                alert("Failed, please reload the page, then try again.");
            });
        });
        $("a.verification").on("click", function (e) {
            var self = this,
                id = $(this).data("id"),
                state = $(this).data("state");
            $.ajax({
                url: "/api/exhibitor/"+id+"/verification",
                method: "PUT",
                data: { verified: !state, },
            }).done(function (data) {
                $(self).data("state", data.state);
                if (data.state === true) {
                    $(self)
                        .removeClass("btn-danger")
                        .addClass("btn-success")
                        .children("i")
                            .removeClass("fa-times")
                            .addClass("fa-check");
                } else {
                    $(self)
                        .removeClass("btn-success")
                        .addClass("btn-danger")
                        .children("i")
                            .removeClass("fa-check")
                            .addClass("fa-times");
                }
                return;
            }).fail(function (data) {
                alert("Failed, please reload the page, then try again.");
            });
        });
        // Toggle Buttons for Approved/Verified
        $("#approved_button, #verified_button").on("click", function (e) {
            var oldState = $(this).data("state"),
                newState;
            if (oldState === true) {
                console.log("Old state was true");
                newState = false;
                $(this)
                    .removeClass("btn-success")
                    .addClass("btn-danger")
                    .children("i")
                        .removeClass("fa-check")
                        .addClass("fa-times");
            } else {
                console.log("Old state was false");
                newState = true;
                $(this)
                    .removeClass("btn-danger")
                    .addClass("btn-success")
                    .children("i")
                        .removeClass("fa-times")
                        .addClass("fa-check");
            }
            $(this).data("state", newState);
            $("#exhibitor_table").dataTable().fnDraw();
        });
        // Filter for tables.
        $.fn.dataTable.ext.search.push(function(settings, _, dataIndex) {
            var node = $(settings.aoData[dataIndex].nTr).find("a.approval");
            if ($("#approved_button").data("state") === true) {
                // Toggled on.
                if (node.data("state") === true) { return true; }
                else { return false; }
            } else {
                // Toggled off.
                if (node.data("state") === true) { return false; }
                else { return true; }
            }
        });
        $.fn.dataTable.ext.search.push(function(settings, _, dataIndex) {
            var node = $(settings.aoData[dataIndex].nTr).find("a.verification");
            if ($("#verified_button").data("state") === true) {
                // Toggled on.
                if (node.data("state") === true) { return true; }
                else { return false; }
            } else {
                // Toggled off.
                if (node.data("state") === true) { return false; }
                else { return true; }
            }
        });
        $("#exhibitor_table").dataTable().fnDraw();
    });
</script>
