<div id="options"></div>
<table id="group_table" class="table table-hover"></table>
<script>
    $(function () {
        var columns = {{{JSON columns 0}}};
        var table = $("#group_table").dataTable({
            stateSave: true,
            stateDuration: 60*60*24*5, // 5 days.
            scrollX: true,
            // Datas
            data: {{{JSON data 0}}},
            columns: columns,
            columnDefs: [
                {
                    targets: 0,
                    render: function (data, type, row) {
                        return "<a class=\"btn btn-xs btn-info\" href=\"/admin/manage/"+row.AccountId+"/group\"><i class=\"fa fa-fw fa-user\"></i></a>";
                    },
                },
                {
                    targets: 2, // Members
                    render: function (data, type, row) {
                        var set = data.reduce(function (acc, val) {
                            acc[val.type] += 1;
                            return acc;
                        }, {
                            "Youth": 0,
                            "Young Adult": 0,
                            "Young Chaperone": 0,
                            "Chaperone": 0,
                        });
                        var chaps = set["Young Chaperone"] + set["Chaperone"],
                            warn = "";
                        if (chaps * 5 < set["Youth"]) {
                            warn = "<div class='label label-danger'>!</div>"
                        }
                        return warn + "Y: "+ set["Youth"] +
                            "<br>YA: " + set["Young Adult"] +
                            "<br> YC: " + set["Young Chaperone"] +
                            "<br> C :" + set["Chaperone"];
                    },
                },
                {
                    targets: [ -1, ], // Delete
                    render: function (data, type, row) {
                        return "<a href='/api/group/delete/" + row.id + "' class='btn btn-xs btn-danger' onclick='return confirm(\'Are you sure?\')'><i class='fa fa-fw fa-trash'></i></a>";
                    }
                },
                {
                    targets: -2,
                    render: function (data, type, row) {
                        return "<a class=\"btn btn-primary\" href=\"/admin/manage/"+row.id+"\">"+data+"</a>";
                    },
                },
                {
                    targets: [ -3, -4 ], // Created and Updated at
                    render: function (data, type, row) {
                        return new Date(data).toLocaleString();
                    },
                },
                {
                    targets: -5, // Tags
                    render: function (data, type, row) {
                        return  "<input class=\"tags\" data-id=\""+row.id+"\" data-role=\"tagsinput\" value=\""+data+"\">";
                    },
                }
            ],
        });
        // Visible Toggles
        var colvis = new $.fn.dataTable.ColVis(table);
        $("#options").append(colvis.button());
        // Scan for tagsinputs.
        var inputs = $("input[data-role=\"tagsinput\"]").tagsinput()
        $("input[data-role=\"tagsinput\"]").on("itemAdded", function (e) {
            var item = e.item,
                id = $(this).data("id"),
                self = this;
            console.log("ADD " + item + " to " + id);
            $.ajax({
                url: "/api/group/"+id+"/tags",
                method: "PUT",
                data: { add: item, },
            }).done(function (data) {
                return;
            }).fail(function (data) {
                alert("Failed, please reload the page.");
            });
        })
        $("input[data-role=\"tagsinput\"]").on("itemRemoved", function (e) {
            var item = e.item,
                id = $(this).data("id"),
                self = this;
            console.log("REMOVE " + item + " from " + id);
            $.ajax({
                url: "/api/group/"+id+"/tags",
                method: "DELETE",
                data: { remove: item, },
            }).done(function (data) {
                return;
            }).fail(function (data) {
                alert("Failed, please reload the page.");
            });
        });
    });
</script>
