<div id="options">
    <span>
        <strong>Filter:</strong>
        <br>

        <span>
            Tuesday (22nd)
            <div class="btn-group">
                <a id="tuesday_morning" class="btn btn-xs btn-default" data-state="false">
                    Morning
                </a>
                <a id="tuesday_afternoon" class="btn btn-xs btn-default" data-state="false">
                    Afternoon
                </a>
                <a id="tuesday_all" class="btn btn-xs btn-default" data-state="false">
                    All Day
                </a>
            </div>
        </span>

        <span>
            Wednesday (23rd)
            <div class="btn-group">
                <a id="wednesday_morning" class="btn btn-xs btn-default" data-state="false">
                    Morning
                </a>
                <a id="wednesday_afternoon" class="btn btn-xs btn-default" data-state="false">
                    Afternoon
                </a>
                <a id="wednesday_all" class="btn btn-xs btn-default" data-state="false">
                    All Day
                </a>
            </div>
        </span>
    </span>
</div>

<table id="workshop_table" class="table table-striped"></table>
<script>
    $(function () {
        var columns = {{{JSON columns 0}}};
        var table = $("#workshop_table").dataTable({
            stateSave: true,
            stateDuration: 60*60*24*5, // 5 days.
            scrollX: true,
            // Datas
            data: {{{JSON data 0}}},
            columns: columns,
            columnDefs: [
                {
                    targets: [ 0 ], // View Button
                    render: function (data, type, row) {
                        return "<a class=\"btn btn-primary btn-xs\" href=\"/workshops/"+row.id+"\"><i class=\"fa fa-fw fa-eye\"></i>View</a>";
                    }
                },
                {
                    targets: [ -2 ], // Arrays
                    render: function (data, type, row) {
                        return data.map(function (item) {
                            return "<span class=\"label label-default\">"+item+"</span>"
                        }).join(" ");
                    }
                },
                {
                    targets: [ -1 ], // Arrays
                    render: function (data, type, row) {
                        return data.map(function (item) {
                            if (item.capacity <= item.attending) {
                                return "<span class=\"label label-default\">Full Session</span><br>";
                            }
                            var start = moment(item.start).format("MMM D hh:mm A");
                            var end = moment(item.end).format("hh:mm A");
                            return "<span class=\"label label-default\" data-start=\""+item.start+"\" data-end=\""+item.end+"\">" + item.attending + "/" + item.capacity + " " + start + "-" + end + " @ " + item.venue + "</span><br>";
                        }).join(" ");
                    }
                },
            ],
        });
        // Visible Toggles
        var colvis = new $.fn.dataTable.ColVis(table);
        $("#options").append(colvis.button());

        $("#workshop_table").DataTable().rows().every(function () {
            this.child(this.data().summary).show();
        });

        $("#workshop_table").dataTable().fnDraw();

        // Toggle Buttons
        $("#tuesday_morning, #tuesday_afternoon, #tuesday_all, #wednesday_morning, #wednesday_afternoon, #wednesday_all").on("click", function (e) {
            $(this).toggleClass("btn-primary");
            $(this).toggleClass("btn-default");
            // Toggle state.
            $(this).data("state", !$(this).data("state"));

            $("#workshop_table").dataTable().fnDraw();
        });

        // Filter Buttons
        var times = {
            tuesday_morning_start: new Date("March 22, 2016, 6:00 AM"),
            tuesday_morning_end: new Date("March 22, 2016, 12:31 PM"),

            tuesday_afternoon_start: new Date("March 22, 2016, 12:31 PM"),
            tuesday_afternoon_end: new Date("March 22, 2016, 6:00 PM"),

            wednesday_afternoon_start: new Date("March 23, 2016, 12:31 PM"),
            wednesday_afternoon_end: new Date("March 23, 2016, 6:00 PM"),

            wednesday_morning_start: new Date("March 23, 2016, 6:00 AM"),
            wednesday_morning_end: new Date("March 23, 2016, 12:31 PM"),
        }

        $.fn.dataTable.ext.search.push(function(settings, _, dataIndex) {
            var sessions = $(settings.aoData[dataIndex].nTr).find("td.sessions span");

            for (var i=0; i< sessions.length; i++) {
                var session = sessions[i];

                // This is lazy and returns as soon as one matches.
                if ($("#tuesday_morning").data("state") === true) {
                    if (new Date($(session).data("start")) >= times["tuesday_morning_start"] && new Date($(session).data("end")) <= times["tuesday_morning_end"]) {
                        return true;
                    }
                } else if ($("#tuesday_afternoon").data("state") === true) {
                    if (new Date($(session).data("start")) >= times["tuesday_afternoon_start"] && new Date($(session).data("end")) <= times["tuesday_afternoon_end"]) {
                        return true;
                    }
                } else if ($("#tuesday_all").data("state") === true) {
                    if (new Date($(session).data("start")) >= times["tuesday_morning_start"] && new Date($(session).data("end")) <= times["tuesday_afternoon_end"]) {
                        return true;
                    }
                } else if ($("#wednesday_morning").data("state") === true) {
                    if (new Date($(session).data("start")) >= times["wednesday_morning_start"] && new Date($(session).data("end")) <= times["wednesday_morning_end"]) {
                        return true;
                    }
                } else if ($("#wednesday_afternoon").data("state") === true) {
                    if (new Date($(session).data("start")) >= times["wednesday_afternoon_start"] && new Date($(session).data("end")) <= times["wednesday_afternoon_end"]) {
                        return true;
                    }
                } else if ($("#wednesday_all").data("state") === true) {
                    if (new Date($(session).data("start")) >= times["wednesday_morning_start"] && new Date($(session).data("end")) <= times["wednesday_afternoon_end"]) {
                        return true;
                    }
                } else {
                    // Triggers when none of the buttons are toggled.
                    return true;
                }
            }

            // If we didn't find any.
            return false;
        });
    });
</script>
