<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">
    {{> head}}
    <body>
        <div id="wrap">
            {{> header}}
            {{#if message}}
                <div class="alert">{{message}}</div>
            {{/if}}
            <main class="container">
                {{{content}}}
            </main>
            {{> footer}}
        </div>
    </body>
</html>
