<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">
    {{> head}}
    <body>
        <div id="wrap">
            <main>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Editor</h3>
                        </div>
                        <div class="panel-body">
                            <form id="editor" action="/api/page" method="POST">
                                <input id="method" name="_method" value="POST" required style="display: none;">
                                <div class="form-group">
                                    <label>Page</label>
                                    <select id="selector" class="form-control">
                                        <option>New</option>
                                        {{#each pages}}
                                            <option value="{{this.id}}">{{this.path}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input id="title" name="title" value="" required class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="content">Content</label>
                                    <p>Need help? Ask, don't go it alone! Leave the <code>\{{word}}</code> things alone. <a id="rollback" class="btn btn-xs btn-danger">Rollback</a></p>
                                    <textarea id="content" name="content" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Authentication Level</label>
                                    <select id="requirements" name="requirements" class="form-control">
                                        <option>Normal</option>
                                        <option>Authenticated</option>
                                        <option>Administrator</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="path">Path</label>
                                    <input id="path" name="path" value="" required class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="form-control">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Preview</h3>
                        </div>
                        <div id="preview" class="panel-body"></div>
                    </div>
                </div>
            </main>
        </div>
        <script>
            $(document).ready(function () {
                // Configure CodeMirror
                var content = CodeMirror.fromTextArea($("#content").get(0), {
                    mode:  "text/html",
                    lineNumbers: true,
                    smartIndent: true,
                    indentUnit: 4,
                });
                content.on("changes", function (instance) {
                    $("#preview").html(instance.getValue());
                });
                // Clear things.
                $("#selector").val("New");
                $("#method").val("POST");
                $("#editor").attr("action", "/api/page/");
                $("#title").val("");
                $("#requirements").val("Normal");
                $("#featured").val(false);
                $("#path").val("");
                content.setValue("");
                // Bind things.
                $("#rollback").click(function () {
                    $.get("/api/page/" + $("#selector").val(), function (data) {
                        content.setValue(data.rollback);
                    });
                });
                $("#selector").change(function () {
                    var selection = $(this).val();
                    if (selection == "New") {
                        $("#method").val("POST");
                        $("#editor").attr("action", "/api/page/");
                        $("#title").val("");
                        $("#requirements").val("Normal");
                        $("#featured").val(false);
                        $("#path").val("");
                        content.setValue("");
                    } else {
                        $.get("/api/page/" + selection, function (data) {
                            $("#method").val("PUT");
                            $("#editor").attr("action", "/api/page/" + data.id);
                            $("#title").val(data.title);
                            $("#requirements").val(data.requirements);
                            console.log(data);
                            $("#featured").attr("checked", data.featured);
                            $("#path").val(data.path);
                            content.setValue(data.content);
                        });
                    }
                });
            });
        </script>
    </body>
</html>
