<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">
    {{> head}}
    <body>
        {{> navbar}}
        <main id="landing">
            <div class="content">
                <div>
                    <h1 class="slug">Gathering Our Voices</h1><br>
                    <h1 class="year">2016</h1><br>
                    <span class="points">
                        Explore - Discover - Share
                    </span>
                </div>
            </div>
        </main>
    </body>
</html>
