<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">
    {{> head}}
    <body>
        <div id="wrap">
            {{> header}}
            <main class="container">
                {{#if alert}}
                    {{> alert}}
                {{/if}}
                {{{body}}}
            </main>
            {{> footer}}
        </div>
    </body>
</html>
