<div class="well">
  {{#markdown}}
    **Need help?** Check out [this helpful video.](https://youtu.be/ognOOgsuD48) we will use the same registration system as 2016 so this video is relevant. 
    Conact the our Registration Coordiantor, Hannah Mashon at 250-388-5522 or 1-800-990-2432 ext. 222
  {{/markdown}}
</div>

{{> forms/account null}}
