{{#markdown}}

  # Conference schedule

  ## Day 1, March 21st

  ### Registration Day
  **Victoria Conference Center, 10:00am - 4:00pm**

  Check in, verify your details, fill any remaining workshop slots, get delegate bags, and meet new friends.

  ###  Opening Ceremonies and Premier's Awards for Aboringal Youth Excellence in Sport
  **Victoria Conference Centre, 5:00pm - 7:00pm**

  Doors open at 4:00pm. Dinner provided after at 7:00pm.

  {{> parallax url="/images/mask.jpg"}}

  ## Day 2, March 2

  ### Breakfast Provided
  **Victoria Conference Centre, 7:00 am - 8:30 am**

  Before you start your busy day, drop in for breakfast.

  ### Career and Education Fair
  **Victoria Conference Centre,9:00 am - 5:00 pm**

  Explore post-secondary institutions, training centres, and possibile job opportunities. The Career and Education Fair is open to all delegates including: youth, young adults, and chaperones.

  ### Workshop Sessions 1, 2, 3
  **Various Locations, 9:00 am - 12:30 pm**

  Workshops that require the shuttle bus leave the Victoria Conferncer Centre at 8:30 am. Attend the workshops you chose after registering your group and submitting your payment.

  ### Lunch Provided
  **Location TBC, 12:00pm - 1:30pm**

  Take a breather and grab a bite to eat.

  ### Workshop Session 5
  **Various Locations, 1:30 pm - 3:00 pm**

  Attend the workshops you chose after registering your group and submitting your payment.

  ### GOV – Nike N7 Move Moment
  **Victoria Conference Centre, 3:00 pm - 5:00 pm**

  A conference wide FitNation workout sponsored by Nike N7. Help us make history with the first ever Nike N7 Move Moment in British Columbia.

  ### Youth Talent Showcase
  **Victoria Conference Centre, 8:00 pm - 10:30 pm**

  This is a fun-filled night and all delegates are invited. See some of our most talented youth performing! *doors open at 7:00 pm

  {{> parallax url="/images/workshop.jpg"}}

  ## Day 3, March 23rd


  ### Breakfast Provided
  **Victoria Conference Centre, 7:00 am - 8:30 am**

  Before you start your busy day, drop in for breakfast.

  ### Career and Education Fair
  **Victoria Conference Centre, 9:00 am - 5:00 pm**

  Explore post-secondary institutions, training centres, and possibile job opportunities. The Career and Education Fair is open to all delegates including: youth, young adults, and chaperones.

  ### Workshop Sessions 7, 8, 9
  **Various Locations, 9:00 am - 12:30 pm**

  Workshops that require the shuttle bus leave the Victoria Conferncer Centre at 8:30 am. Attend the workshops you chose after registering your group and submitting your payment.

  ### Lunch Provided
  **Location TBC, 12:00 pm - 1:30 pm**

  Take a breather and grab a bite to eat.

  ### Workshop Sessions 10, 11, 12
  **Various Locations, 1:30 pm - 5:00 pm**

  Workshops that require the shuttle bus leave the Victoria Conferncer Centre at 1:00 pm. Attend the workshops you chose after registering your group and submitting your payment.

  ### Youth Dance
  **Victoria Conference Centre, 7:00 pm - 11:00 pm**

  Take some time to practice your favorite dance moves as you enjoy the night with your friends, old and new. Beats, Bass, and Melody included as well.
  <p class="text-muted">Note: This is a <emph>strictly</emph> substance free dance that is limited to delegates only.    Youth must have their chaperones with them to attend. Facilictators and exhibitors do not attend this event.</p>

  {{> parallax url="/images/dance.jpg"}}

  ## Day 4, March 24th

  ### Cultural Morning & Closing Ceremonies
  **Victoria Conference Centre, 9:00 am - 12:00 pm**

  The cultural morning is an opportunity to witness different cultural presentations. We will honour youth and present awards. Youth delegates 14-24 will also be eligible for the Grand Prize Draw, if they have completed and sunmitted their Exhibitor Passports! Submitte Passports to teh BCAAFC Information Table

  ### Totem Raising Ceremony
  **Victoria Native Friendship Centre, 231 Regina Ave, 12:45 pm - 3:00 pm**

  Come to the Victoria Native Friendship Centre and take part in raising a totem carved by indigenous youth under the direction of renowned Nuu-Chah-Nulth artist Morris Sutherland. Participants will put their hands on the ropes and pull to lift the 25-foot totem into place. The raising will be followed by feasting and ceremony to honour the carvers. This is the third of three totems, one representing each Indigenous Nation on Vancouver Island, to be raised at the Victoria Native Friendship Centre.
{{/markdown}}
