{{#markdown}}

  # Conference Schedule

  ## Day 1: Tuesday, March 21st

  ### Registration Day
  **10:00am - 4:00pm - Delta Grand Okanagan Resort and Conference Centre**

  Check in, verify your details, fill any remaining workshop slots, get delegate bags and meet new friends.

  ### Opening Ceremonies
  **5:00pm - 7:00pm - Delta Grand Okanagan Resort and Conference Centre**

  Doors open at 4:00pm. Dinner provided after at 7:00pm.

  {{> parallax url="/images/mask.jpg"}}

  ## Day 2: Wednesday, March 22nd

  ### Breakfast Provided
  **7:00am - 8:30am - Delta Grand Okanagan Resort and Conference Centre**

  Before you start your busy day, drop in for breakfast.

  ### Career and Education Fair
  **9:00am - 5:00pm - Delta Grand Okanagan Resort and Conference Centre**

  Explore post-secondary institutions, training centres, and possible job opportunities. 
  The Career and Education Fair is open to all delegates including: youth, young adults and chaperones.

  ### Workshop Sessions 1, 2, 3
  **9:00am - 12:30pm - Various Locations**

  Workshops that require the shuttle bus leave the Delta Grand Okanagan Resort and Conference Centre at 8:30 am. 
  Attend the workshops you chose after registering your group and submitting your payment.

  ### Lunch Provided
  **12:00pm - 1:30pm - Delta Grand Okanagan Resort and Conference Centre**

  Take a breather and grab a bite to eat.

  ### Workshop Sessions 4, 5, 6
  **1:30pm - 5:00pm - Various Locations**

  Attend the workshops you chose after registering your group and submitting your payment.

  ### Youth Talent Showcase
  **8:00pm - 10:30pm - Delta Grand Okanagan Resort and Conference Centre**

  This is a fun-filled night and all delegates are invited. See some of our most talented youth performing! *doors open at 7:00 pm

  {{> parallax url="/images/workshop.jpg"}}

  ## Day 3: Thursday, March 23rd

  ### Breakfast Provided
  **7:00am - 8:30am - Delta Grand Okanagan Resort and Conference Centre**

  Before you start your busy day, drop in for breakfast.

  ### Career and Education Fair
  **9:00am - 5:00pm - Delta Grand Okanagan Resort and Conference Centre**

  Explore post-secondary institutions, training centres, and possible job opportunities. 
  The Career and Education Fair is open to all delegates including: youth, young adults, and chaperones.

  ### Workshop Sessions 7, 8, 9
  ** 9:00am - 12:30pm - Various Locations**

  Workshops that require the shuttle bus leave the Delta Grand Okanagan Resort and Conference Centre at 8:30 am. 
  Attend the workshops you chose after registering your group and submitting your payment.

  ### Lunch Provided
  **12:00pm - 1:30pm - Delta Grand Okanagan Resort and Conference Centre**

  Take a breather and grab a bite to eat.

  ### Workshop Sessions 10, 11, 12
  **1:30pm - 5:00pm - Various Locations**

  Workshops that require the shuttle bus leave the Delta Grand Okanagan Resort and Conference Centre at 1:00 pm. 
  Attend the workshops you chose after registering your group and submitting your payment.

  ### Youth Dance Party
  **7:00pm - 11:00pm - Delta Grand Okanagan Resort and Conference Centre**

  Take some time to practice your favorite dance moves as you enjoy the night with your friends, old and new. Beats, Bass, and Melody included as well.
  Doors Open at 7:00pm
  
  Doors Close at 8:30pm 
  
  **No re-entry Policy with mandatory coat and bag check**
  <p class="text-muted">Note: This is a <emph>strictly</emph> substance free dance that is limited to delegates only. Youth must have their chaperones with them to attend. Facilitators and exhibitors do not attend this event.</p>

  {{> parallax url="/images/dance.jpg"}}

  ## Day 4: Friday, March 24th

  ### Cultural Morning & Closing Ceremonies
  **9:00am - 12:00pm - Delta Grand Okanagan Resort and Conference Centre**

  The cultural morning is an opportunity to witness different cultural presentations. 
  We will honour youth and present youth awards. Youth delegates 14-24 will also be eligible for the Grand Prize Draw, 
  if the youth delegate completes and submittes their Exhibitor Passports! Submit Passports to the BCAAFC Information Table.

{{/markdown}}
