{{#markdown}}

  # Conference Schedule

  ## Day 1: March 21st

  ### Registration Day
  **Delta Grand Okanagan Resort and Conference Centre, 10:00am - 4:00pm**

  Check in, verify your details, fill any remaining workshop slots, get delegate bags, and meet new friends.

  ### Opening Ceremonies
  **Delta Grand Okanagan Resort and Conference Centre, 5:00pm - 7:00pm**

  Doors open at 4:00pm. Dinner provided after at 7:00pm.

  {{> parallax url="/images/mask.jpg"}}

  ## Day 2: March 22nd

  ### Breakfast Provided
  **Delta Grand Okanagan Resort and Conference Centre, 7:00am - 8:30am**

  Before you start your busy day, drop in for breakfast.

  ### Career and Education Fair
  **Delta Grand Okanagan Resort and Conference Centre, 9:00am - 5:00pm**

  Explore post-secondary institutions, training centres, and possibile job opportunities. 
  The Career and Education Fair is open to all delegates including: youth, young adults and chaperones.

  ### Workshop Sessions 1, 2, 3
  **Various Locations, 9:00am - 12:30pm**

  Workshops that require the shuttle bus leave the Delta Grand Okanagan Resort and Conference Centre at 8:30 am. 
  Attend the workshops you chose after registering your group and submitting your payment.

  ### Lunch Provided
  **Delta Grand Okanagan Resort and Conference Centre, 12:00pm - 1:30pm**

  Take a breather and grab a bite to eat.

  ### Workshop Sessions 4, 5, 6
  **Various Locations, 1:30pm - 5:00pm**

  Attend the workshops you chose after registering your group and submitting your payment.

  ### Youth Talent Showcase
  **Delta Grand Okanagan Resort and Conference Centre, 8:00pm - 10:30pm**

  This is a fun-filled night and all delegates are invited. See some of our most talented youth performing! *doors open at 7:00 pm

  {{> parallax url="/images/workshop.jpg"}}

  ## Day 3: March 23rd

  ### Breakfast Provided
  **Delta Grand Okanagan Resort and Conference Centre, 7:00am - 8:30am**

  Before you start your busy day, drop in for breakfast.

  ### Career and Education Fair
  **Delta Grand Okanagan Resort and Conference Centre, 9:00am - 5:00pm**

  Explore post-secondary institutions, training centres, and possibile job opportunities. 
  The Career and Education Fair is open to all delegates including: youth, young adults, and chaperones.

  ### Workshop Sessions 7, 8, 9
  **Various Locations, 9:00am - 12:30pm**

  Workshops that require the shuttle bus leave the Delta Grand Okanagan Resort and Conference Centre at 8:30 am. 
  Attend the workshops you chose after registering your group and submitting your payment.

  ### Lunch Provided
  **Delta Grand Okanagan Resort and Conference Centre, 12:00pm - 1:30pm**

  Take a breather and grab a bite to eat.

  ### Workshop Sessions 10, 11, 12
  **Various Locations, 1:30pm - 5:00pm**

  Workshops that require the shuttle bus leave the Delta Grand Okanagan Resort and Conference Centre at 1:00 pm. 
  Attend the workshops you chose after registering your group and submitting your payment.

  ### Youth Dance Party
  **Delta Grand Okanagan Resort and Conference Centre, 7:00 pm - 11:00 pm**

  Take some time to practice your favorite dance moves as you enjoy the night with your friends, old and new. Beats, Bass, and Melody included as well.
  Doors Open at 7:00 pm
  
  Doors Close at 8:30 pm 
  
  **No re-entry Policy with mandatory coat and bag check**
  <p class="text-muted">Note: This is a <emph>strictly</emph> substance free dance that is limited to delegates only. Youth must have their chaperones with them to attend. Facilictators and exhibitors do not attend this event.</p>

  {{> parallax url="/images/dance.jpg"}}

  ## Day 4: March 24th

  ### Cultural Morning & Closing Ceremonies
  **Delta Grand Okanagan Resort and Conference Centre, 9:00am - 12:00pm**

  The cultural morning is an opportunity to witness different cultural presentations. 
  We will honour youth and present awards. Youth delegates 14-24 will also be eligible for the Grand Prize Draw, 
  if they have completed and sunmitted their Exhibitor Passports! Submit Passports to the BCAAFC Information Table

{{/markdown}}
