<div class="container marketing">

    <div class="row featurette">
        <div class="col-sm-7">
            <h2>Conference Venues</h2>
            <ul>
                <li>
                    <a href="http://victoriaconference.com/">Victoria Conference Center</a>
                    <br>
                    <strong>Main Conference Venue</strong>
                    <br>
                    720 Douglas Street, Victoria
                    <br>
                    1-866-572-1151
                </li>
                <li>
                    <a href="http://www.victoriamarriott.com/">Victoria Marriott Inner Harbour</a>
                    <br>
                    728 Humboldt Street, Victoria
                    <br>
                    1-877-333-8338
                </li>
                <li>
                    <a href="http://www.harbourtowers.com/">Harbour Towers Hotels & Suites</a>
                    <br>
                    345 Quebec Street, Victoria
                    <br>
                    1-800-663-5896
                </li>
            </ul>

            <hr>

            <h2 class="featurette-heading">Accommodation Options</h2>



            <div>
                <h3>Harbour Towers Hotel & Suites</h3>
                <p>
                    <strong>Address:</strong> 345 Quebec Street, Victoria, BC V8V 1W4
                    <br>
                    <strong>Phone:</strong> 250-385-2405 or 1-800-663-5896
                    <br>
                    <strong>Email:</strong> <a href="mailto:reservations.harbourtowers@silverbirchhotels.com">reservations.harbourtowers@silverbirchhotels.com<a/>
                    <br>
                    <strong>Website:</strong> <a href="http://www.harbourtowers.com">www.harbourtowers.com</a>
                    <br>
                    <strong>Room Rates:</strong>
                    <ul>
                        <li>$93.00 Standard</li>
                        <li>$113.00 Bachelor Suite</li>
                        <li>$158.00 One Bedroom Suite</li>
                        <li>$208.00 Two Bedroom Suite</li>
                    </ul>
                    <br>
                    <strong>Rates available until:</strong> February 5, 2016
                    <br>
                    <strong>Reservation code:</strong> Gathering Our Voices
                    <br>
                    <strong>Amenities:</strong> Wi-Fi, local calls, and 1-800 access, in room coffee and tea, fitness centre, indoor pool, hot tub sauna
                    <br>
                    <strong>Distance from main Conference Site:</strong> 750 m
                </p>
            </div>

            <hr>

            <div>
                <h3>Coast Victoria Harbourside Hotel & Marina</h3>
                <p>
                    <strong>Address:</strong> 146 Kingston Street, Victoria, BC V8V 1V4
                    <br>
                    <strong>Phone:</strong> 250-360-1211 or 1-800-663-1144
                    <br>
                    <strong>Email:</strong> <a href="mailto:coastvictoria@coasthotels.com">coastvictoria@coasthotels.com</a>
                    <br>
                    <strong>Website:</strong> <a href="http://www.coasthotels.com/hotels/bc/victoria/coast-victoria-harbourside-hotel-andmarina/">www.coasthotels.com/hotels/bc/victoria/coast-victoria-harbourside-hotel-andmarina/</a>
                    <br>
                    <strong>Room Rate:</strong>
                    <ul>
                        <li>$90.00 Comfort Cityview</li>
                        <li>$110.00 Superior Cityview</li>
                        <li>$130.00 Superior Harbourview</li>
                    </ul>
                    <br>
                    <strong>Rates available until:</strong> based on availability until Feb 21, 2016
                    <br>
                    <strong>Reservation code:</strong> CVH-GFC7193
                    <br>
                    <strong>Amenities:</strong> Complimentary WIFI in all guestrooms; Continental breakfast included; Complimentary Indoor/outdoor heated pool, Jacuzzi, fitness centre; Blue Crab restaurant
                    <br>
                    <strong>Distance from main Conference Site:</strong> 1.1 km
                </p>
            </div>

            <hr>

            <div>
                <h3>Delta Victoria Ocean Pointe Resort and Spa</h3>
                <p>
                    <strong>Address:</strong> 100 Harbour Road, Victoria BC
                    <br>
                    <strong>Phone:</strong> 1-800-667-4677
                    <br>
                    <strong>Email:</strong> <a href="mailto:Vic.reservations@deltahotels.com"> Vic.reservations@deltahotels.com</a>
                    <br>
                    <strong>Website:</strong> <a href="http://www.deltavictoria.com"> www.deltavictoria.com</a>
                    <br>
                    <strong>Room Rates: </strong> no longer available
                    </ul>
                    <br>
                    <strong>Rates available until:</strong> March 21, 2016
                    <br>
                    <strong>Reservation code:</strong> Gathering Our Voices
                    <br>
                    <strong>Amenities:</strong> Complimentary Hotel Shuttle Service & Parking,  Internet; full spa; indoor pool, fitness centre
                    <br>
                    <strong>Distance from main Conference Site:</strong> 1.6 km
                </p>
            </div>

            <hr>

            <div>
                <h3>Victoria Marriott Inner Harbour</h3>
                <p>
                    <strong>Address:</strong> 728 Humboldt Street, Victoria BC, V8W 3Z5
                    <br>
                    <strong>Phone:</strong> 1-877-333-8338
                    <br>
                    <strong>Email:</strong> <a href="mailto:c.koohtow@victoriamarriott.com">c.koohtow@victoriamarriott.com</a>
                    <br>
                    <strong>Website:</strong> <a href="http://www.victoriamarriott.com">www.victoriamarriott.com</a>
                    <br>
                    <strong>Room Rates:</strong>
                    <ul>
                        <li>$149.00 Single</li>
                        <li>$149.00 Double</li>
                        <li>$179.00 Triple</li>
                        <li>$209.00 Quad</li>
                    </ul>
                    <br>
                    <strong>Rates available until:</strong> based on availability, Now FULL
                    <br>
                    <strong>Reservation code:</strong> Gathering Our Voices
                    <br>
                    <strong>Amenities:</strong> complimentary Wi-Fi
                    <br>
                    <strong>Distance from main Conference Site:</strong> 300 m
                </p>
            </div>

            <hr>

            <div>
                <h3>The Parkside Hotel & Spa</h3>
                <p>
                    <strong>Address</strong> 810 Humboldt Street, Victoria, BC V8V 5B1
                    <br>
                    <strong>Phone:</strong> 250-940-1200
                    <br>
                    <strong>Email:</strong> <a href="mailto:reservations@parksidevictoria.com">reservations@parksidevictoria.com</a>
                    <br>
                    <strong>Website:</strong> <a href="http://www.parksidevictoria.com">www.parksidevictoria.com</a>
                    <br>
                    <strong>Room Rate:</strong> Deluxe Suite with one king bed and one sofa bed, sleeps a max of 3 $109.00
                    <br>
                    <strong>Rates available until:</strong> February 9, 2016 at 5:00 pm
                    <br>
                    <strong>Reservation code:</strong> Gathering our Voices group rate
                    <br>
                    <strong>Amenities:</strong> all suites feature a fully equipped kitchen, balconies, and fireplaces, complimentary Wi-Fi, on-site parking $15 + tax a night.
                    <br>
                    <strong>Distance from main Conference Site:</strong> 300 m
                </p>
            </div>

            <hr>

            <div>
                <h3>DoubleTree by Hilton Hotel & Suites Victoria</h3>
                <p>
                    <strong>Address</strong> 777 Douglas Street, Victoria, British Columbia V8W 2B5
                    <br>
                    <strong>Phone:</strong> 1-250-940-3100
                    <br>
                    <strong>Website:</strong> <a href="http://doubletree.hilton.com/en/dt/groups/personalized/Y/YYJDSDT-AFC-20160320/index.jhtml?WT.mc_id=POG">http://doubletree.hilton.com/en/dt/groups/personalized/Y/YYJDSDT-AFC-20160320/index.jhtml?WT.mc_id=POG</a>
                    <br>
                    <strong>Room Rate:</strong> $159 King
                    <br>
                    <strong>Rates available until:</strong> February 21, 2016 at 5:00 pm
                    <br>
                    <strong>Distance from main Conference Site:</strong> 160 m
                </p>
            </div>

            <hr>

            <div>
                <h3>Fairmont Empress</h3>
                <p>
                    <strong>Address:</strong> 721 Government Street  Victoria, BC V8W 1W5
                    <br>
                    <strong>Phone:</strong> 250-384-1414 or 1-800-441-1414
                    <br>
                    <strong>Website:</strong> <a href="http://www.fairmont.com/empress-victoria/">www.fairmont.com/empress-victoria/</a>
                    <br>
                    <strong>Room:</strong>
                    <ul>
                        <li>$169 Fairmont</li>
                        <li>$199 Deluxe</li>
                        <li>$259 Signature or Junior Suite</li>
                        <li>$319 One Bedroom Cityview Suite</li>
                        <li>$369 One Bedroom Harbourview Suite</li>
                        <li>$469 Two bedroom Harbourview Suite</li>
                        <li>$669 Vice Regal</li>
                    </ul>
                    <br>
                    <strong>Rates available until:</strong> reservations based on availability
                    <br>
                    <strong>Reservations:</strong> <a href="https://resweb.passkey.com/go/gatheringourvoices2016"> https://resweb.passkey.com/go/gatheringourvoices2016</a>
                    <br>
                    <strong>Amenities:</strong> Spa, Health Club with pool and gym, internet and business centre.
                    <br>
                    <strong>Distance from main Conference Site:</strong> Connected building
                </p>
            </div>

<hr>

            <div>
                <h3>Chateau Victoria Hotels & Suites</h3>
                <p>
                    <strong>Address:</strong> 740 Burdett Avenue, Victoria, BC
                    <br>
                    <strong>Phone:</strong> 250-382-4221 or 1-8800-663-5891
                    <br>
                    <strong>Website:</strong> <a href="http://www.chateauvictoria.com">www.chateauvictoria.com</a>
                    <br>
                    <strong>Room:</strong>
                    <ul>
                        <li>$108 Room, 1 King or 2 Queens</li>
                        <li>$127 Suite, 1 king or 2 Queens</li>
                    </ul>
                    <br>
                    <strong>Rates available until:</strong> April 21, 2016
                    <br>
                    <strong>Amenities:</strong> Swimming pool, fitness room, whirlpool, restaurant, complimentary internet.
                    <br>
                    <strong>Distance from main Conference Site:</strong> Across the street.
                </p>
            </div>

        </div>
        <div class="col-sm-5" style="text-align: center">
            <iframe src="https://mapsengine.google.com/map/embed?mid=zgOn5am8hxSg.kA2j7QUnQA10" width="100%" height="480"></iframe>
        </div>
    </div>
</div>
