<div class="well">
    Learn how to register for workshops <a class="btn btn-primary btn-xs" href="https://youtu.be/qGkAMsu_4Pw">here</a>. If you have questions call Shawna Johnson at 1-800-990-2432.
    <br>
    <strong>Bonus Workshop!</strong> All delegates are encouraged to join us for the <a id="n7" href="#" onclick="$('.move-desc').toggle() && false">N7 Move Moment</a> on March 22nd at 3:00pm!
    <div class="move-desc" style="display: none">
        <br>
        A conference wide FitNation workout sponsored by Nike N7. Help us make history with the first ever Nike N7 Move Moment in British Columbia. Energize your day with FitNation! The FitNation program was developed by the Aboriginal Sport, Recreation and Physical Activity Partners Council in collaboration with Nike N7, and combines a variety of dynamic movements to create a fun and easy-to-learn fitness experience. FitNation offers something for all fitness levels, so everyone can enjoy the experience. Come try it out, and see what a Frankenstein Walk is all about!

        We will provide the youth delegates, 14-24 years, with a limited edition GOV – Nike N7 Move Moment t-shirts at the Conference Centre starting at 3:00 pm. We will leave the Victoria Conference Centre at 3:45 pm, a short 5 minute walk from our destination. The GOV - Nike N7 Move Moment will commence as soon as we arrive at the Legislature.

        *Dress for physical activity: workout gear and runners.
    </div>
</div>

{{#if flags.workshopSignup}}
    {{> tables/user_workshop columns=columns workshops=workshops}}
{{else if admin}}
    <div class="well">
        You're seeing this because you're an admin.
    </div>
    {{> tables/user_workshop columns=columns workshops=workshops}}
{{/if}}
