<div class="alert alert-success">
    Learn how to register for workshops <a href="https://youtu.be/KWfXC5Hh0l4">here</a>. If you have questions call Shawna Johnson at 1-800-990-2432.
</div>

{{#if flags.workshopSignup}}
    {{> tables/user_workshop columns=columns workshops=workshops}}
{{else if admin}}
    <div class="well">
        You're seeing this because you're an admin.
    </div>
    {{> tables/user_workshop columns=columns workshops=workshops}}
{{/if}}
