<div class="well">
    Learn how to register for workshops <a class="btn btn-primary btn-xs" href="https://youtu.be/qGkAMsu_4Pw">here</a>.
    <br>
    <strong>Can't find anything? Please check back soon, we are working hard to add new workshops for you!</strong>
</div>

{{#if flags.workshopSignup}}
    {{> tables/user_workshop columns=columns workshops=workshops}}
{{else if admin}}
    <div class="well">
        You're seeing this because you're an admin.
    </div>
    {{> tables/user_workshop columns=columns workshops=workshops}}
{{else}}
  {{#markdown}}
    Currently workshop registration is closed. We will be releasing workshops sometime in February.
  {{/markdown}}
{{/if}}
