<div class="alert alert-success">
    Workshops will be available starting in mid-February. We're working hard to put together an fantastic lineup!
</div>

{{#if flags.workshopSignup}}
    {{> tables/user_workshop columns=columns workshops=workshops}}
{{else if admin}}
    <div class="well">
        You're seeing this because you're an admin.
    </div>
    {{> tables/user_workshop columns=columns workshops=workshops}}
{{/if}}
