/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 0px;
}

/* Set the fixed height of the footer here */
footer {
  /*height: 550px;*/
  height: 100%;
  padding-top: 20px;
  bottom: 0px;
  background-color: #f5f5f5;
}

.panel {
  border: 0px !important;
}


/* ---- */
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  /*padding-bottom: 40px;*/
  color: #5a5a5a;
}

.jumbotron {
    background: url('/img/banner.jpg') no-repeat center center;
    background-size: cover !important;
    margin-bottom: 0px;
    height: 400px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    padding-top: 25px;
}

.jumbotron .wrap h1 {
    color: white;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%
}

.navbar-nav {
    text-align: center;
    width: 100%;
}

.navbar-nav li {
    float: none;
    display: inline-block;
    *display: inline; /* IE7 */
     zoom: 1
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 34px !important;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* Display the logo nice like */
#gov-logo-center {
  bottom: 0px;
  top: 0px;
  text-align: center;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Display the logo nice like */
  #gov-logo-center {
    bottom: 0px;
    top: 0px;
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
  }

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

/*@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}*/


/* LOGIN FORM */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.limited {
  max-height: 250px;
  overflow: auto;
}
