<form action="/api/account/auth" method="POST" class="form-horizontal">
    <legend>Login</legend>


    {{form_input title="Email Address" name="email" type="text" required=true}}
    {{form_input title="Password" name="password" type="password" required=true}}
    <input type="hidden" name="redirect">


    <div class="form-group">
        <input class="btn btn-block btn-primary" type="submit" value="Login">
    </div>

    <p>Can't remember your password? Fill in your email above and click
        <a id="forgot" href="#">here</a> and we'll send you an email
        with a magic link to restore your access.
    </p>
</form>

<script>
$(document).ready(function () {
    // Used to determine if there is a redirect.
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    var redirect = getParameterByName('redirect');
    if (redirect) { $("input[name='redirect']").val(redirect); }


    $("#forgot").click(function () {
        var email = $("input[name='email']").val();
        $.ajax({
            url: "/api/account/recovery",
            method: "POST",
            data: { email: email, },
        }).done(function (e) {
            window.location.reload(true);
        }).fail(function (e) {
            window.location.reload(true);
        });
    });
});
</script>
