<legend>Register New Account</legend>
<div class="form-group">
    <label for="email">Email Address</label>
    <input name="email" type="text" class="form-control">
</div>
<div class="form-group">
    <label for="password">Password</label>
    <input name="password" type="password" class="form-control">
</div>
<div class="form-group">
    <label for="name">Full Name</label>
    <input name="name" type="text" class="form-control">
</div>
<div class="form-group">
    <label for="affiliation">Affiliation</label>
    <p>This is typically your band, organization, or agency.</p>
    <input name="affiliation" type="text" class="form-control">
</div>
<div class="form-group">
    <label for="phone">Phone Number</label>
    <input name="phone" type="text" class="form-control">
</div>
<div class="form-group">
    <label for="fax">Fax Number (Optional)</label>
    <input name="fax" type="text" class="form-control">
</div>
<div class="form-group">
    <label for="address">Address</label>
    <input name="address" type="text" class="form-control">
</div>
<div class="form-group">
    <label for="city">City</label>
    <input name="city" type="text" class="form-control">
</div>
<div class="form-group">
    <label for="province">Province</label>
    <input name="province" type="text" class="form-control">
</div>
<div class="form-group">
    <label for="postalCode">Postal Code</label>
    <input name="postalCode" type="text" class="form-control">
</div>
<div class="form-group">
    <input class="btn btn-block btn-primary" type='submit' value="Register">
</div>
