<form action='/api/exhibitor' method='POST' class="form-horizontal">
    <legend>Apply to be an Exhibitor</legend>
    {{> exhibitor_form}}
    <div class="form-group">
        <input class="btn btn-block btn-primary" type='submit' value="Apply to Exhibit">
    </div>
</form>
