{{#form_select title="Affiliation Type" name="affiliationType" selected=account.Group.affiliationType required=true}}
    <option value="">Choose...</option>
    <option>Friendship Centre</option>
    <option>Off-reserve</option>
    <option>On-reserve</option>
    <option>MCFD or Delegated Agency</option>
    <option>Other</option>
{{/form_select}}
{{{form_input title="Youth In Care" name="youthInCare" type="number" value=account.Group.youthInCare
    description="Each year the conference hosts a feast to honour Youth In Care. If some of this groups
                 delegates are or have been a youth in the care of the Ministry of Children and Family
                 Development or an Aboriginal Delegated Agency and would like to attend the feast, please
                 indicate below how many of your group will attend."}}}
{{{form_input title="Youth In Care Support" name="youthInCareSupport" type="number" value=account.Group.youthInCareSupport
    description="If any of the youth wish to bring a support person please indicate the number of
                 support persons here."}}}
