<form action='/api/group' method='POST' class="form-horizontal">
    <legend>Create Group</legend>
    {{> group_form}}
    <div class="form-group">
        <input class="btn btn-block btn-primary" type='submit' value="Create">
    </div>
</form>
