<form action='/api/image' method='POST' class="form-horizontal" enctype="multipart/form-data">
    <legend>Upload Image</legend>
    {{> image_form}}
    <div class="form-group">
        <input class="btn btn-block btn-primary" type='submit' value="Upload">
    </div>
</form>
