<form action="/api/account/auth" method="POST" class="form-horizontal">
    <legend>Login</legend>
    {{{form_input title="Email Address" name="email" type="text" required=true}}}
    {{{form_input title="Password" name="password" type="password" required=true}}}
    <div class="form-group">
        <input class="btn btn-block btn-primary" type="submit" value="Login">
    </div>
</form>
