<form action='/api/member/{{id}}' method='POST' class="form-horizontal">
    <input style="display: none;" name="_method" value="PUT">
    <legend>Update Existing Member</legend>
    {{> member_form}}
    {{#if ../admin}}
        <fieldset>
            <legend>Admin Options</legend>
            {{#form_select title="Ticket Cost" name="cost" selected=cost}}
                <option value=125>Earlybird ($125)</option>
                <option value=175>Regular ($175)</option>
            {{/form_select}}
        </fieldset>
    {{/if}}
    <div class="form-group">
        <input class="btn btn-block btn-primary" type='submit' value="Declare">
    </div>
</form>
