<form action='/api/member' method='POST' class="form-horizontal">
    <legend>Declare New Member</legend>
    {{> member_form}}
    <div class="form-group">
        <input class="btn btn-block btn-primary" type='submit' value="Declare">
    </div>
</form>
