<form action='/api/member/{{id}}' method='POST' class="form-horizontal">
    <input style="display: none;" name="_method" value="PUT">
    <legend>Update Existing Member</legend>
    {{> member_form}}
    <div class="form-group">
        <input class="btn btn-block btn-primary" type='submit' value="Declare">
    </div>
</form>
