<form action='/api/payment' method='POST' class="form-horizontal">
    <legend>New Payment</legend>
    {{> payment_form}}
    <div class="form-group">
        <input class="btn btn-block btn-primary" type='submit' value="Create Payment">
    </div>
</form>
