<form action='/api/session' method='POST' class="form-horizontal">
    <legend>Add a New Session</legend>
    {{> session_form}}
    <div class="form-group">
        <input class="btn btn-block btn-primary" type='submit' value="Add Session">
    </div>
</form>
