<form action='/api/session/{{id}}' method='POST' class="form-horizontal">
    <input style="display: none;" name="_method" value="PUT">
    <legend>Update a Session</legend>
    {{> session_form}}
    <div class="form-group">
        <input class="btn btn-block btn-primary" type='submit' value="Update">
    </div>
</form>
