<form action='/api/workshop' method='POST' class="form-horizontal">
    <legend>Apply to Facilitate a Workshop</legend>
    {{> workshop_form}}
    <div class="form-group">
        <input class="btn btn-block btn-primary" type='submit' value="Declare">
    </div>
</form>
