<h1>Frequently Asked Questions</h1>

<ul>
    <li>
        <a href="#conf">Conference Details</a>
    </li>
    <li>
        <a href="#reg">Registration Details</a>
    </li>
    <li>
        <a href="#accom">Accommodations, Location, & Venues</a>
    </li>
    <li>
        <a href="#facilitator">General Facilitator Information</a>
    </li>
    <li>
        <a href="#exhibitor">General Exhibitor Information</a>
    </li>
</ul>


<h3 id=conf>Conference Details</h3>
<ul>
    <li>
        <strong>When and where is the Conference happening this year?</strong>
        <p>
            Gathering Our Voices will be in Victoria, BC - March 21-24, 2016 at the Victoria
            Conference Centre and other venues around the city.
        </p>
    </li>
    <li>
        <strong>How can I register?</strong>
        <p>
            To register for Gathering Our Voices please visit:
            <a href="http://gatheringourvoices.bcaafc.com">gatheringourvoices.bcaafc.com</a>
            and click the large blue button apply as a group facilitator, volunteer, or exhibitor!
        </p>
        <p>
            To simplify the registration process, please ensure that you have:
            <ul>
                <li>First and last names</li>
                <li>Birthdates</li>
                <li>Medical care card numbers</li>
                <li>Emergency contact information</li>
                <li>Any allergies or medical concerns</li>
            </ul>
            <emph>
                If you want to save a place for a youth please put in Member 1, Member 2,
                 etc. placeholders can be used until you know which members you are bringing;
                  our registration coordinator will call to ensure you will be using these spaces at
                  a later date.
              </emph>
        </p>
    </li>
    <li>
        <strong>How old do you have to be to attend the conference?</strong>
        <p>
            All youth aged 14-24 are eligible to attend the conference. Youth MUST be
            fourteen (14) by March 21, 2016 in order to attend.  All youth fourteen to
            seventeen (14-17) years old MUST be accompanied by a chaperone at all times.
        </p>
    </li>
    <li>
        <strong>How old do you have to be to Chaperone at the conference?</strong>
        <p>
            Chaperones MUST be at least twenty one (21) by March 21, 2016 to be a chaperone
            at the conference.
        </p>
    </li>
    <li>
        <strong>What is the Chaperone to youth ratio?</strong>
    	<p>
            For every five (5) youth (14-17years) there MUST be at least one (1) chaperone.
        </p>
    </li>
    <li>
        <strong>Is there a maximum capacity for the Conference?</strong>
        <p>
            Yes, this year’s conference is on a first come, first served basis due to limited space
            available.  Conference capacity will be capped at
            <strong>1500 delegates</strong>. Please register as soon as possible to ensure
            your space at the conference.  If the conference reaches capacity before the event
            there will be no onsite registration.
        </p>
    </li>
</ul>

<h3 id=reg>Registration Process</h3>
<ul>
    <li>
        <strong>How much are registration fees and when are they due?</strong>
        <p>
            Early registration fees: $125/participant (youth, young adults AND chaperones).
            Due by February 29th, 2016.
            <br>
            Regular registration fees: $175/participant (including youth, young adults AND
            chaperones) Due by February 29th, 2016.
        </p>
    </li>
    <li>
        <strong>Who has to register for the conference?</strong>
        <p>
            All youth and chaperones must register and pay the registration fees for the
            conference - No Exceptions.
        </p>
    </li>
    <li>
        <strong>What do Registration fees cover?</strong>
        <ul>
            <li>
                Plenary sessions, opening ceremonies, talent showcase, dance, cultural
                morning, closing ceremonies
            </li>
            <li>Workshops</li>
            <li>Monday, March 21st : Dinner</li>
            <li>Tuesday, March 22nd: Breakfast and Lunch</li>
            <li>Wednesday, March 23rd: Breakfast and Lunch</li>
        </ul>
    <li>
        <strong>What does Registration fees not cover?</strong>
        <ul>
            <li>Travel</li>
            <li>Accommodation</li>
            <li>Meals not listed above</li>
        </ul>
    </li>
    <li>
        <strong>What is the Group Registration Incentive?</strong>
        <p>
            For every group of five (5) people registered, the sixth (6) person is FREE.
        </p>
    </li>
</ul>

<h3 id=accom>Accommodations, Location, & Venues</h3>
<ul>
    <li>
        <strong>Where can my group stay in Victoria?</strong>
        <p>
            This year the conference is being held in Victoria. The main conference venue is
            the Victoria Conference Centre.  Youth delegates and chaperones are responsible
            for securing their own accommodations.  A list of accommodations in Victoria is
            included in the Conference Registration Package and on the website.  Please
            reserve your rooms as soon as possible as accommodation options will fill quickly.
        </p>
    </li>
    <li>
        <strong>How can I get to Victoria?</strong>
        <p>
            Check out this quick list of various transportation options to help you plan your
            trip to Gathering Our Voices 2016:
        </p>
        <strong>Air</strong>
        <ul>
            <li>
                <strong>Victoria Airport – YYJ</strong>
                <br> 1640 Electra Blvd, Sidney, BC V8L 5V4
                <br> Phone: 250-953-7500
                <br> The airport is situated approximately 25KM (15.5 miles) north of Victoria.
            </li>
            <li>
                <strong><a href="http://www.aircanada.com/en/home.html">Air Canada</a></strong>
                <br> Reservations & Tickets: 1-888-247-2262
                <br> Baggage Enquiries: 1-888-689-2247
                <br> Automated Flight Information: 1-888-422-7533
                <br> Cargo: 250-656-0231
                <br> <a href="http://www.aircanada.com/en/customercare/index.html">Customer Care</a>
            </li>
            <li>
                <a href="https://www.alaskaair.com/">Alaska Air</a> 1-800-252-7522
            </li>
            <li>
                <a href="http://www.islandexpressair.com/">Island Express</a> 1-888-856-6260
            </li>
            <li>
                <a href="http://www.flyorcaair.com/">Orca Airways</a> 1-888-359-6722
            </li>
            <li>
                <a href="http://www.pacificcoastal.com/">Pacific Coastal</a> 250-655-6411 or Toll Free: 1-800-663-2872
            </li>
            <li>
                <a href="https://www.united.com/web/en-US/default.aspx">United Airlines Express</a> Customer Relations: 1-800-864-8331
            </li>
            <li>
                <a href="http://www.westjet.com/guest/en/home.shtml">WestJet</a> Reservations: 1-888-937-8538 (1-888-WESTJET)
                <br> Baggage Enquiries: 1-866-666-6224
                <br> Cargo:  1-866-852-2746 (1-866-WJCARGO)
                <br> TTY:  1-877-952-0100
            </li>
        </ul>
        <strong>Land</strong>
        <ul>
            <li>
                <a href="https://www.greyhound.ca/default.aspx">Greyhound Bus Lines</a> Inquiries: 1-800-661-8747
            </li>
        </ul>
        <strong>Rental Cars</strong>
        <ul>
            <li>
                <a href="http://www.avis.com/car-rental/avisHome/home.ac">Avis</a> 1-800-879-2847
            </li>
            <li>
                <a href="http://www.budgetvictoria.com/">Budget Rent A Car</a> 1-800-668-9833 or Local:  250-953-5300
            </li>
            <li>
                <a href="https://www.nationalcar.com/en_US/car-rental/home.html">National Rentals</a> 1-800-227-7368 or Local: 250-656-2541
            </li>
            <li>
                <a href="https://www.hertz.com/rentacar/reservation/">Hertz</a> 1-800-263-0600
            </li>
        </ul>
        <strong>Once in Victoria:</strong>
        <ul>
            <li>
                <a href="http://www.yyjairportshuttle.com/">YYJ Airporter Shuttle</a> 778-351-4995 or 1-855-351-4995
            </li>
            <li>
                <a href="http://www.yellowcabvictoria.com/">Yellow Cab of Victoria</a> 250-381-2222 or 1-800-808-6881
            </li>
        </ul>
    </li>
    <li>
        <strong>Parking Information</strong>
        <p>
            <a href="http://victoriaconference.com/centre/parking/">Victoria Conference Centre</a>
            <br>
            If you prefer or need to use a car, the Centre has a two-level underground parking
            garage for up to 310 vehicles, with access off Douglas Street.
            <br>
            The parkade is open from 5:00 a.m. until midnight 365 days of the year. Durin
             these hours there is an attendant on duty. After hours, the parkade is secured.
            <br>
            Rates are $1.50/30 minutes up to a daily maximum of $16. There is a height
            restriction of 6’2″ (1.88 m).
        </p>
        <p>
            <a href="http://www.victoria.ca/EN/main/departments/engineering/parking/parkades.html">Victoria Parkades website</a>
        </p>
    </li>
</ul>

<h3 id=facilitator>General Facilitator Information</h3>

<ul>
    <li>Workshops will be 1.5 or 3 hours in length and may be repeated 1-8 times throughout the conference.</li>
    <li>Workshops targeting youth and young adults are preferred, though each year a few chaperone workshops are selected.</li>
    <li>Preference is given towards workshops that demonstrate a high-level of interaction and share best practices/successful approaches.</li>
    <li>Preference is given towards workshops that require little to no audio/visual aids (i.e. projectors, microphones, TV/DVD Players etc.)</li>
    <li>once you have completed the online application potential facilitators <strong>must call Della (250-388-5522) before the deadline of November 6th</strong> to verify their application before it is considered by the youth steering committee.</li>
    <li>Facilitators are informed if they were chosen to host a workshop: November 23, 2015.</li>
    <li>You will also receive a confirmation email that you submitted an application. Be sure you receive that in your inbox or spam. If you did not please call Della (250-388-5522) to confirm we received your application.</li>
    <li>You will be required to fulfill a Criminal Record Check if your workshop is accepted.</li>
</ul>

<h3 id=exhibitor>General Exhibitor Information</h3>

<ul>
    <li><strong>Exhibitor Registration Fee:</strong> $400 per table, 2 days, March 22nd and 23rd, 8:30 am – 5:00 pm.</li>
    <li>Exhibitor application deadline is January 29, 2016</li>
    <li>To Register visit the home page and click the large blue button apply as a group facilitator, volunteer, or exhibitor!</li>
    <li>Preferred method of payment is by cheque payable to BCAAFC and mailed to: 551 Chatham Street, Victoria, BC  V8T 1E1.</li>
    <li>Each booth will be provided with one 6’ skirted table and two chairs.</li>
    <li>All exhibitors are responsible for their own meals, refreshments and shipping their own materials.</li>
    <li>Potential Exhibitor will be contacted to confirm their acceptance. You will also receive a confirmation email that you submitted an application. Be sure you receive that in your inbox or spam. If you did not please call Della (250-388-5522) to confirm we received your application.</li>
    <li>All exhibitors will be required to complete a Criminal Record Check.</li>
</ul>
